{% extends 'base.html' %}
{% load static %}

{% block content %}





       
  



            <!--breadcrumbs-->
            <section id="breadcrumb" class="breadMargin">
                <div class="row">
                    <div class="large-12 columns">
                        <nav aria-label="You are here:" role="navigation">
                            <ul class="breadcrumbs">
                                <li><i class="fa fa-home"></i><a href="/">Home</a></li>
                                <li>
                                    <span class="show-for-sr">Current: </span> About Us
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section><!--end breadcrumbs-->

            <section class="category-content">
                <div class="row">
                    <!-- left side content area -->
                    <div class="large-8 columns">
                        <section class="content content-with-sidebar">
                            <!-- newest video -->
                            <div class="main-heading removeMargin">
                                <div class="row secBg padding-14 removeBorderBottom">
                                    <div class="medium-8 small-8 columns">
                                        <div class="head-title">
                                            <i class="fa fa-user"></i>
                                            <h1>About SexSmartFilms</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <style>
                                .pstle{
                                    font-size: 22px !important;
                                }
                            </style>
                            <div class="row secBg">
                                <div class="large-12 columns">
                                    <article class="page-content">
                                        <h2><strong>Education</strong></h2>
                                        <p class="pstle">It was very early in my career I learned the power of accurate sexual information. Using the words penis, 
                                            vulva and clitoris in a middle school classroom brought attentiveness like I had never seen before from 
                                            this age group. Children and adults want sexual information. They want to know about sexuality and I’ve 
                                            had the good fortune of spending the last forty plus years producing films that provide accurate 
                                            information on a very wide range of sexual and gender issues. SexSmartFilms started with 46 films in 
                                            2008 and now has more than 660 from nearly fifty-two different countries. You can view an evolution of 
                                            sexuality education films, from the “disease model,’ “scare tactics” of the early 1900’s to the anything 
                                            goes, accurate information model of today. You now have the ability to sexually educate in the privacy of 
                                            your own home. </p>
                                       
                                       
                                       
                                       

                                        <h2><strong>Research</strong> </h2>
                                        <p class="pstle">Sexual Research has a rich history and SexSmartFilms is proud to be archiving some of the most 
                                            important films that document this interdisciplinary research, a number coming from the Kinsey Institute in 
                                            Bloomington Indiana.  According to Kinsey Confidential … </p>

                                        <p class="pstle">“The study of sexuality and sexual health is diverse and multi-disciplinary. It includes scholars, 
                                            researchers, and clinicians working within the many branches of science, public health and medicine, as 
                                            well as therapists, activists, and educators addressing the functional issues of sexuality within the social, 
                                            cultural, and political spheres. </p>

                                        <p class="pstle">The unique history, collections and research of the Kinsey Institute have established it as a leader 
                                            internationally in scholarship, teaching and service in sexuality, gender and reproduction. The Institute’s 
                                            mission is to maintain this leadership by developing and nurturing a community of interdisciplinary 
                                            scholarship within and beyond Indiana University. This community of scholarship includes the arts, 
                                            humanities, social sciences, natural sciences, medicine, education and law. The primary intellectual and 
                                            research concerns of the Institute are: </p>

                                        


                                        <p class="pstle">SexSmartFilms proudly offers you films from the historic Kinsey Collection. These programs will help you 
                                            understand the difficulty scholars have in conducting sexual research and why many researchers avoid 
                                            sexual science to avoid controversy. </p>                                        
                                        



                                        <h2><strong>Therapy</strong> </h2>
                                        <p class="pstle">Sex Therapy as a profession was started by the courageous work of Dr. William Masters and 
                                            Virginia Johnson in the 1960’s. Since then sex therapy has evolved into a widely recognized and 
                                            respected profession throughout the world. </p>

                                         <p class="pstle">A specialization addressing sexual function, sexual feelings, gender identity and intimacy issues. Sex 
                                            therapy has become one of many recognized types of psychotherapy addressing mental health issues. 
                                            Professionals can conduct sex therapy on individuals or couples utilizing a wide range of films.  
                                            SexSmartFilms proudly offers many of the films used during a diverse range of sex therapy and 
                                            counseling experiences. </p>


                                      
                                      
                                    </article>
                                </div>
                            </div>
                        </section>



                        <!-- ad Section -->


                        <!-- <div class="googleAdv">
                            <a href="#"><img src="images/goodleadv.png" alt="googel ads"></a>
                        </div> -->
                        
                        
                        
                        <!-- End ad Section -->



                    </div><!-- end left side content area -->
                    <!-- sidebar -->
                     
                    <div class="large-4 columns">
                        <aside class="secBg sidebar">
                            <div class="row">



                                
                              
                                
                             
                                


                                
                              
                               
                                <!-- Recent post videos -->
                                <div class="large-12 medium-7 medium-centered columns">
                                    <div class="widgetBox">
                                        <div class="widgetTitle">
                                            <h5>Popular videos</h5>
                                        </div>
                                        <div class="widgetContent">
                                
                                            {% for video in  top_videos %}

                                            <div class="media-object stack-for-small">
                                                <div class="media-object-section">
                                                    <div class="recent-img">
                                                        <img src= "{{video.poster_url}}" alt="{{video.title | safe}}" onerror="this.src='{{ base_details.default_poster_url }}';">
                                                        <a href="/{{video.slug}}" class="hover-posts">
                                                            <span><i class="fa fa-play"></i></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="media-object-section">
                                                    <div class="media-content">
                                                        <h6><a href="/{{video.slug}}">{{video.title | safe}}</a></h6>
                                                        <p><i class="fa fa-user"></i><span>admin</span><i class="fa fa-clock-o"></i><span>{{video.modified_at}}</span></p>
                                                    </div>
                                                </div>
                                            </div>


                                             {% endfor %}

                                        

                                       

                                        </div>
                                    </div>
                                </div><!-- End Recent post videos -->

                           

                                <!-- tags -->
                                <div class="large-12 medium-7 medium-centered columns">
                                    <div class="widgetBox">
                                        <div class="widgetTitle">
                                            <h5>Tags</h5>
                                        </div>
                                        <div class="tagcloud">
                                            
                                            {% for i in cat %}
                                            <a href="{% url 'all_view' i.slug %}">{{i.category_name}}</a>
                                            {% endfor %}

                                           
                                        </div>
                                    </div>
                                </div><!-- End tags -->



                                   <!-- categories -->
                                   <div class="large-12 medium-7 medium-centered columns">
                                    <div class="widgetBox clearfix">
                                        <div class="widgetTitle">
                                            <h5>All Categories</h5>
                                        </div>
                                        <div class="tagcloud ">
                                            <ul>
                                                

                                                {% for i in subcat %}
                                                <a href="{% url 'all_view' 'category' i.slug %}">{{i.subcategory_name}}</a>
                                                {% endfor %}
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <!-- ad banner widget -->


                                     <!-- social Fans Widget -->


                                     <div class="large-12 medium-7 medium-centered columns">
                                        <div class="widgetBox">
                                            <div class="widgetTitle">
                                                <h5>social fans</h5>
                                            </div>
                                            <div class="widgetContent">
                                                <div class="social-links">
                                                    <a class="socialButton" href="#">
                                                        <i class="fa fa-facebook"></i>
                                                        <span>698K</span>
                                                        <span>fans</span>
                                                    </a>
                                                    <a class="socialButton" href="#">
                                                        <i class="fa fa-twitter"></i>
                                                        <span>598</span>
                                                        <span>followers</span>
                                                    </a>
                                                    <a class="socialButton" href="#">
                                                        <i class="fa fa-google-plus"></i>
                                                        <span>98k</span>
                                                        <span>followers</span>
                                                    </a>
                                                    <a class="socialButton" href="#">
                                                        <i class="fa fa-youtube"></i>
                                                        <span>168k</span>
                                                        <span>followers</span>
                                                    </a>
                                                    <a class="socialButton" href="#">
                                                        <i class="fa fa-vimeo"></i>
                                                        <span>498</span>
                                                        <span>followers</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                      <!--End social Fans Widget -->
                                  
    
    
    
                                 
                                    
                                    <!-- end ad banner widget -->



                            </div>
                        </aside>
                    </div>

<!-- end sidebar -->
                </div>
            </section><!-- End Category Content-->
            <!-- footer -->
           




        </div><!--end off canvas content-->


        {% endblock %}
    