/* Global Settings */



html, body {

    margin: 0px;

    /* padding: 5px; */

    font: normal 12px "Myriad Web", Tahoma, sans-serif;

    line-height: 18px;

    color:#ffffff;
	
	background:#262626 url(../images/ssf-bgpattern.gif) center top ;

}

div.mainc { width:100%;
	/* background:url(../images/frameshdw.gif) center top repeat-y; */
	background:url(../images/frameshdw.gif) center top repeat-y;
	overflow:hidden;}

/*div.mainco { width:786px; margin:0px auto; 
	background:url(../images/frameshdw.png) center repeat-y;}

div.mainbg {
	width:100%;
	overflow:hidden;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/frameshdw.png', sizingMethod='scale');*/
}

h1, h2, h3, h4 {

    font-size: 100%;

}


hr
{
margin:0 19px 10px;
border:0;
background: #7d7b7c;
height:1px;
}

#buy_table input
{
	width: 145px;
}
#buy_table .select_country
{
	width: 150px;
	font-size: 8pt;
}

#btnBuy1
{
	float:left;
	width: auto;
}
#notrequired
{
	width:200px;
	display:block;
	height:25px;
	padding-left:150px;
	padding-top:5px;
}

.bluetext
{
color:#7cc1fa;
}

.whitetext
{
color:#FFF;
}

input.checkbox {

    border: 1px solid #bdac85;

}

a {

/*  color: #333333; */

    color: #f4d764;

    text-decoration: none;

}



a:hover {

    color: #8bdefe;

    text-decoration: none;
	
    /*border-bottom: 1px dotted #333333;*/

}

a.blu {
    color: #fff0b3;

}

a.blu:hover {
    text-decoration: underline;
}

#othervideo a img, .groupthumb a img,#small-rightbox a img {

    border: 0;

}

.relatedvideothumb a img {

    padding: 2px;

    border: 1px solid #EAEAEA;

}

/*

a:link, a:visited {

    color: #00e5ff;

    text-decoration: none;

    border: none;

}

*/

.clear {

    clear: both;

}

form {

    margin: 0;

    padding: 0;

}



fieldset {

    margin: 1em 0;

    border: none;

}



legend {

    margin: 1em 0;

    padding: 0 .5em;

    background: transparent;

    font-size: 19px;

    font-weight: normal;
	
	color:#d18a1f;
	
	letter-spacing: -1px;

}



input.fullboxtext {

    margin: 0 0 10px 0;

    padding: 3px;

    border: 1px solid #666666;

    background: #393939 url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 14px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

	color: #ccc;

    width: 240px;

    height: 15px;

}

textarea.fullboxtext{

    margin: 0 0 10px 0;

    padding: 3px;

    border: 1px solid #666666;

    background: #1b1a1a url(../images/tpl_textarea_bg.gif) no-repeat top left;
	
	color: #ccc;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    width: 240px;   

}

/* End Of Global Settings */



/* Clip Share Logo */



#head {

    margin: 0px auto;

    padding: 0px;

    width: 850px;
	
	/*background:#3d3c3c;*/
	
	overflow:hidden;
	
	position:relative;
	
	background: #090909 url(../images/top_bg.jpg) no-repeat;
	
}



#head h1, #head .divhead {

    margin: 12px 30px 0px 18px;

	padding: 0 0 15px 0;

    background: transparent url(../images/logo3.gif) no-repeat;

    text-indent: -9999px;

    float: left;

    display: inline;
	width: 281px;
	height: 69px;

}



#head .divhead a.logo {

    display: block;

    width: 281px;

    height: 70px;

    border: none;

}



#head h2 {

    margin: 48px 0 0 10px;
    padding: 0px;
    font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    color: #303030;
    float: left;
	width: auto;
}

#topic { width:500px;
	margin:0;
	display:block;
	overflow:hidden;
	float:right;
	text-align:right;
	padding:0px; }

#topic div.topich3 {
    margin: 10px 19px 0 30px;
	font: normal 13px "Myriad Web", Arial, Tahoma, sans-serif !important;
    padding: 0px;
    float: right;
	width: auto;
}



/* End of Clip Share Logo */



/* Clip Share Navigation */



#headnav {

    margin: 0px auto;

    padding: 0px;

    text-align: left;

    width: 100%;

}



#navbar {
	margin:0px auto;
    width: 850px;
    background: url(../images/tpl_navbar_bg.gif) no-repeat;
    height: 25px;
	overflow:hidden;

}



#navsubbar {
	margin:0px auto;

    width: 850px;

    background:#DEA93E; /*url(../images/tpl_subnavbar_bg.gif)*/ 
	min-height:25px;

   /* height: 25px;*/
	
	line-height: 20px;
	
}

#navsubbar p { 

    margin: 0px auto;

    padding: 2px 0;

    text-indent: 20px;

    width: 850px;

    color: #ffffff;
    text-align: center;
	
	$margin:0px !important; $padding:0px !important;

}



#navsubbar p a:link,
#navsubbar p a:visited {

    margin: 0px 7px;

    color: #ffffff;

}
#navsubbar p a:hover
{
    color: #2c2c2c;
}



/* End of Clip Share Navigation */

    /* GENERAL CONTAINER */

#container, #container12 {

    margin: 0px auto;

    padding: 0;

    width: 850px;

    text-align: center;
	
	background:#3d3b3c;
	
}

#container {

background:#3d3b3c url(../images/bg_container.gif) repeat-y;

}

#container1 {

    margin: 0px auto;

    padding: 0;

    width: 850px;

   /* text-align: center;*/
	
	background-color:#3d3b3c;

}



#leftside {

    margin: 0px;

    padding: 0px;

    width: 619px;

    text-align: left;

    float: left;
	
}

#fullside {

    margin: 0px;

    padding: 0px;

    width: 850px;

    text-align: left;

}


#blockGradient
{
background: #514f50 url(../images/block_gradient.gif) repeat-x;

padding:19px 0;
}

#blockGradient1
{
background: #514f50 url(../images/block_gradient.gif) repeat-x;

padding:65px 0 19px;
}


#login-title, #statistic-title, #online-title,#vote-title,#populartags-title,

#adv-title, #latestvideo-title, #profiledetail-title, 

#recenttags-title, #userinfo-title, #mediumbox-title, 

#recently-title, #fullbox-title, #myprofile-title,#invitefriend-title,#invitenewfriend-title, 

#mostactive-title, #topwatched-title, #signup-title, #viewvideo-title,

#bookmark-title, #videocomment-title, #othervideo-title, #relatedvideo-title, 

#relatedtag-title,#recently-added-title,#browsegroup-title, #smallbox-title,

#videodetails-title, #sharedetails-title, #myvideo-title, #myfriends-title,

#groups-title, #groupforum-title, #grouprecentvideo-title,#small-rightbox-title  {

    height: 23px;

    padding-left: 22px;
	padding-top:3px;

    background: #514f50;

    font: normal 18px/20px "Myriad Web", Arial, Tahoma, sans-serif;

    letter-spacing: -1px;

    color:#7cc1fa;
	

}

#viewvideo-title
{
background:none;
color:#f4d764;
text-align:left;
}

h1#userinfo-title, h1#login-title, h1#fullbox-title, h1#signup-title, h1#myprofile-title
{
	margin:0;
}

#small-rightbox-title-small{

    height: 25px;

    padding-left: 10px;

    background: url("../images/tpl_box_bar.png") repeat-x;

    font: normal 15px/23px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    letter-spacing: -1px;

    color:#FFFFFF;

}  

#populartags-content,#recenttags-content, #relatedtag-content {
    padding:5px 20px 5px 22px;

    margin-top: 2px;

	text-align: justify;
	
}

 
#login-content, #statistic-content, #adv-content, #online-content,

#latestvideo-content, #profiledetail-content, #vote-content, 

#invitefriend-content,#invitenewfriend-content, #relatedvideo-content, 

#browsegroup-content, #smallbox-content, #videodetails-content, #sharedetails-content, 

#groupforum-content, #grouprecentvideo-content,#small-rightbox-content {

    padding:10px 15px 0 24px;

    margin-top: 2px;

}

#videodetails-content, #signup-content, #fullbox-content, #mediumbox-content,  #viewvideo-content, #userinfo-content,

#myprofile-content {

    padding:10px;

    margin-top: 2px;


}

#fullbox-content {	display:block;
	height:auto;
	min-height:600px;
}

* HTML #fullbox-content { height: auto;
he\ight: 600px; }

#fullbox {display:block;
	height:auto;
	min-height:600px;
}

* HTML #fullbox { height: auto;
he\ight: 600px; }

.imagechannel.premium a img { $margin:7px 0 0 0px;}

#grey {
	 background:#3D3B3C; padding:12px 40px; margin:0px;}

#recently-content, #othervideo-content
 {

    padding:10px;

    margin-top: 2px;
	
}

#recently-content, #bookmark-content, #groups-content, #mostactive-content, #topwatched-content, #recently-added-content, #myfriends-content {

    padding:10px;

    margin-top: 2px;
	
}

#videocomment-content, #myvideo-content {

	padding: 10px 0;
	
}


#small-rightbox-content span.title {

	font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}

#small-rightbox-content span.duration {

	font: bold 12px Arial, Helvetica, sans-serif;

}

#small-rightbox-content span.info {

	color: #888888;
	
	font-size: 13px;

}

#small-rightbox-content span.tags {

	text-decoration: none;
	font-weight: normal;
	border-bottom:dotted 1px #aaaaaa;

}
	
/* Clip Share Search */

#containersearch{
	display:block;
	float:right;
	height:30px;
	margin:0 0 0 0;
	padding:10px 0 0;
	position:absolute;
	right:90px;
	top:35px;
	width:220px;
}

.icons {
	position:absolute;
	top:52px;
	right:10px;
	width:60px;
}
.icons img { border:0; }
.icons a img {
	opacity: 0.90; 
	filter: alpha(opacity=90);
}
.icons a:hover img {
	opacity: 1.0; 
	filter: alpha(opacity=100);
}

#containersearch form input.text, #containersearch form input.search, #containersearch form select {

	margin: 0;

    border: 1px solid #666666;

    background: #393939 url(../images/tpl_input_bg.gif) repeat-x top left;

    font: normal 14px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

	color: #ccc;
	
}

#containersearch form input.search
{
	height: 21px;
	border-right:0px solid #666666;
}


#containersearch form input.text {

    padding: 1px 1px 0px 3px;
    font-size:13px;
	height:17px;
}



#containersearch form select {

    padding: 2px;

}



#containersearch form input.button {

    margin: 0;

    padding: 0;

    vertical-align: middle;

}



/* End of Clip Share Search */



/* Clip Share Banner */



#banner {

    margin: 0 0 10px 0;

    padding: 0px;

    width: 500px;

    background: transparent url(../images/tpl_banner_bg.gif) repeat-x top;

    border: 1px solid #333333;

    height: 208px;

}



/* * html #banner {

    margin: -10px 0 10px 0;

} */



.feature {

    margin: 10px 0 0 15px;

    padding: 5px;

    float: left;

    width: 136px;

    display: inline;
	

} 



.feature h3 {

    margin: 0px;

    padding: 0px;

    font: normal 30px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #ce8419;

    letter-spacing: -2px;

}



.feature p {

    margin: 0px;

    padding: 0px;

}



.feature p img {

    margin: 5px;

    padding: 0px;

    display: block;

}



/* Clip Share left side */

#recently, #userinfo, #mediumbox, #mostactive, #topwatched, 

#signup, #browsegroup, #groups ,#viewvideo, #recently-added,

#myvideo, #myfriends, #bookmark, #videodetails, #sharedetails, #videocomment {

    display:block;

    width:619px;

    background: #514f50;
	
	padding-top:19px;

}
#viewvideo
{
background: none;
text-align:center;
}



#mostactive img.thumb, #topwatched img.thumb,#recently-added img.thumb{

    width:120px;

    height:90px;

}





#useraction {

    display:block;

    width:446px;

    padding:2px;

    background: #161616;

    border: 1px solid #333333;

    margin-bottom: 20px;

    margin-left:90px;

}

#useraction span.info {

	color: #808080;

}

#bookmark ul{

    margin-left: 20px;

    padding: 0;

}

* html #bookmark ul{

    margin-left: 0;

    padding: 0;

}

#useraction p {

    float: left;

    margin: 20px;

}

.arrow-general {

    margin: 0px;

    padding: 0px;

    height: 9px;

    /*background: transparent url(../images/tpl_box_arrow.gif) no-repeat top left;*/

    position: relative;

    top: -12px;

    left: -10px;

}

#videocomment .arrow-general

{

    margin: 0px;

    padding: 0px;

    height: 9px;

    /*background: transparent url(../images/tpl_box_arrow.gif) no-repeat top left; */

    position: relative;

    top: -2px; 

    left: 0; 

}

/*#groupforum .arrow-general {

    margin: 0px;

    padding: 0px;

    height: 9px;

    background: transparent url(images/tpl_box_arrow.gif) no-repeat top left;

    position: relative;

    top: -12px; 

    left: 0;

}*/

#myvideo .arrow-general, #myfriends .arrow-general, #groups .arrow-general {

    margin: 0px;

    padding: 0px;

    height: 9px;

    /*background: transparent url(../images/tpl_box_arrow.gif) no-repeat top left;*/

    position: relative;

    top: -2px; 

    left: 0; 

}

#online .arrow-general {

    margin: 0px;

    padding: 0px;

    height: 9px;

    /*background: transparent url(../images/tpl_box_arrow.gif) no-repeat top left; */

    position: relative;

    top: -12px; 

    left: 0; 

}

a img.right {

    margin: 50px 0px 0px 0px;

    padding: 0px;

    border: 0px !important;

    float: left;

}

a img.left {

    margin: 50px 10px 0px 8px;

    padding: 0px;

    border: 0px !important;

    float: left;

}



.viewed {

    margin: 10px 12px 0 0;

    padding: 0 0 30px 0;

    float: left;

    width: 166px;

    /*width: 100px;*/

    display: inline;
	
}



.viewed a {

    border: none;

    text-decoration: none;

}



.viewed a img.image {

    margin: 0 0 15px 0;

    padding: 0px;

    border: 1px solid #bbbfaf;

    display: block;

}



.viewed p {

    margin: 0px;

    padding: 0px;

    text-align: center;

}



.viewed p span {

    display: block;

    font-size: 10px;

}



/* End of Clip Share Recently */



/* Clip Share Sub Tab Menu */



#submenu {

    margin: 0px;

    padding: 0px;

    width: 619px;
	
	background: #514f50;

}



#tabmenucontainer {

    margin: 0px;

    padding: 0px;

    position: relative;

    top: 15px;

    width: 100%;
	
}



#tabmenucontainer ul {

    margin: 0px;

    padding: 0px;

    list-style-type: none;

    text-align: center;

    font: normal 14px/24px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	

}



#tabmenucontainer li {

    display: inline;

    margin: 0px;

    padding: 0px;

    text-indent: -7px;

}



#tabmenucontainer a {

    float: left;

    display: block;

    width: 125px;

    height: 25px;

    color: #ffffff;

    border: none;

    text-decoration: none;

	padding-left: 6px;

}



#tabmenucontainer a:link, #tabmenucontainer a:visited, #tabmenucontainer a:hover, #tabmenucontainer li a.tabactive {

    float: left;

    background: transparent url(../images/tpl_tabs_btn.gif) no-repeat left top;

    background-position: 0% -25px;

}



#tabmenucontainer a:link, #tabmenucontainer a:visited {

    background-position: 0% -25px;

}



#tabmenucontainer ul li.tabactive {

    background: transparent url(../images/tpl_tabs_btn.gif) no-repeat left top;

    background-position: 0% 0px;

    line-height: 24px;

}



#tabmenucontainer a:hover {

    background-position: 0% -25px;

    line-height: 24px;
	
	color:#7cc1fa;

}

 



#tabmenucontainer li a.tabactive {

    background-position: 0% 0px;

    line-height: 24px;

}



#subcontent {

    margin: 15px 0 0 0;

    padding: 0px;
	text-align:left;

    width: 100%;
	
	border-top: 14px solid #dda73c;

}



#subcontent div{

   /* float: left;*/

    display: block;
	
	background: #3d3b3c;
	
	font: normal 12px "Myriad Web", Arial, Tahoma, sans-serif;

}

#subcontent div.blue {

    margin: 0 !important;

    padding: 0px;

    /*float: left;*/

    display: block;

    background: #373536;

    width: 619px;
	
	font: normal 12px "Myriad Web", Arial, Tahoma, sans-serif;

}

#subcontent div.blue p { margin:0 0 10px 0; padding:0px }
#subcontent div p { margin:0 0 10px 0; padding:0px }

#subcontent span.title {

	font: normal 14px "Myriad Web", Arial, Tahoma, sans-serif;

}

#subcontent span.duration {

	font: bold 12px Arial, Helvetica, sans-serif;

}

#subcontent span.info {

	color: #808080;

}

#subcontent span.tags {

	text-decoration: none;
	font-weight: normal;
	border-bottom:dotted 1px #444444;

}

#subcontent div a img {

    margin: 0 20px 0 0;

    padding: 1px;

    text-decoration: none;

    border: 1px solid #333333;

    float: left;

}

.comment {

    margin: 0;

    padding: 0;

    float: left;

    display: block;

    border-bottom: 1px solid #eaeaea;

    width: 477px;

}

.comment p a img {

    margin: 0 20px 10px 0;

    padding: 0px;

    text-decoration: none;

    border: 1px solid #bbbfaf;

    float: left;

}



.blue {

    background: #373536;

}

.selectedvideo {

    background: #262626;

}

/* End of Clip Share Sub Tab Menu */



/* Content Styling */

.contentbox {

    padding:10px;

}

.firstdefinition {

    font-size: 14px;

    font-weight: bold;

}

.txturgent {

    font-size: 14px;

    font-weight: bold;

}

.txtsignup {

    color: #d18a1f;

}

p.txturgent a {

    color: #d18a1f;

}

.txtcontent a {

    text-decoration:underline

}

.hellomessage {

    font-size: 13px;

    font-weight: bold;

}

.imgprofile {

    margin: 10px 0 0 0;

}

.profileinfo {

    margin: 10px 5px 0 0;

}

.pictprofile {

    text-align: center;

}

.mypict {

    width: 52px;

    margin: 10px;

    float: left;

    display: block;

}

.userprofile {

    width: 150px;

    width: 130px;

    margin-left: 80px;



}

#bookmarklist{

    margin: 0 auto;

    text-align: center;
	
	background:url(../images/bg_bookmar_left.gif);
	
	height:89px;
	
	width:510px;
	
}

#bookmarklist ul {

	background:url(../images/bg_bookmar_right.gif) no-repeat right;
	height:89px;
}

#bookmarklist li {

    list-style-type: none;

    margin: 28px 20px 0 0;

    float: left;

}

.strongtext {

    font: bold 14px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}

.ratingDiv,.boxPart {

    margin: 5px 0;

    text-align: center;
	
	padding-bottom: 7px;

    border-bottom: 1px solid #333333;
	
	font-size: 13px;

} 

.relatedvideolist {

    margin: 0 0 20px 0;
	
	padding-top: 5px;
	
	padding-bottom: 5px;
	
}

/* End Content Styling */



/* Right Side */



#rightside {

    margin: 0px;

    padding: 20px 1px 0 0;

    width: 228px;

    text-align: left;

    float: right;
	
	/*background: #2c2c2c url(../images/ssf-navbg.gif) left repeat-y;*/

}


#login, #statistic, #online,#vote, #adv, #latestvideo, #populartags,

#profiledetail, #recenttags, #othervideo, #relatedvideo,

#relatedtag,#small-rightbox {

    display:block;
	
    width:100%;

    background: #3d3c3c;
	
	padding:0 0 26px 0;

}

#groupforum, #grouprecentvideo {

    display:block;

    width:700px;

    padding:2px;

    background: #111111;

    border: 1px solid #2f2f2f;

}

#login-nosearch, #recenttags-nosearch, #othervideo-nosearch{

    display:block;

    width:213px;

    background: #3d3c3c;


}



#login form {


    padding: 0px;

}



#login form p {

    margin: 0px;

    padding: 0px;

   /* font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;*/

    color: #FFF;

}

#login form a {

   /* font: normal 12px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;*/

}



#login form p input.logintext {

    margin: 0 0 5px 0;

	border: 1px solid #666;
	
    background: #363636 url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

	color: #ccc;

    width: 180px;

}



#login form p input.loginbutton {

    margin: 15px 0 0 0;

    padding: 0px; 

}


#login, #recenttags, #othervideo,#small-rightbox {


    margin-bottom:10px;

}



#small-rightbox-content textarea.fullboxtext{

    width:180px;

}



#login-nosearch, #recenttags-nosearch, #othervideo-nosearch{

    margin: 0;

}



#latestvideo {

    margin: 0;

}



#profiledetail {

    margin: 0;

}



#statistic {

    margin: 0;

    /*height: 230px;*/

}



#online {

    margin: 0;

    /*height: 330px;*/

}



#populartags{

    margin: 0;

}



#vote{

    margin: 0;

}



#adv {

    margin: 0;

    /*height: 232px;*/

}



#recenttags p {

    text-align: center;

    margin: 0;

    padding-bottom: 20px;

}

#latestvideo p {

    text-align: center;

}



#statistic span {

    margin: 0;

    padding: 0 0 0 20px;

}



#statistic span.public {

    background: transparent url(../images/tpl_icon_public.gif) no-repeat;

}



#statistic span.private {

    background: transparent url(../images/tpl_icon_private.gif) no-repeat;

}



#statistic span.member {

    background: transparent url(../images/tpl_icon_member.gif) no-repeat;

}

#statistic span.watch {

    background: transparent url(../images/tpl_icon_watched.gif) no-repeat;

}



#statistic span.visitors {

    background: transparent url(../images/tpl_icon_visitors.gif) no-repeat;

}

#statistic font.info {

   color: #737577;

}



#online p {

    margin: 0;

    padding: 0px;
	
	font-size: 14px;

}



#online p span {

    margin: 0;

    padding: 0 10px 0 0;

    font-weight: normal;
	
	font-size: 11px;

}



#online p span.video {

    background: transparent url(../images/tpl_icon_video.gif) no-repeat;
	padding-left: 14px;

}



#online p span.flag {

    background: transparent url(../images/tpl_icon_flag.gif) no-repeat;
	padding-left: 17px;

}



#online p span.people {

    background: transparent url(../images/tpl_icon_people.gif) no-repeat;
	padding-left: 19px;

}



#adv p {

    text-align: center;

}



#adv a img {

    margin: 0px auto;

    padding: 0px;

    border: none;

    text-decoration: none;

    vertical-align: middle;

}



/* Right Side */



/* Clip Share Rich Footer */



#richfooter {

    margin: 0px auto;
	
	width: 850px;

    padding: 0px;

    background-color: #2d2c2c;
	
	border-bottom:1px solid #666465;
		
	overflow:hidden;

}



#richcontainer {

    margin: 0px auto;

    padding: 0px;

    width: 100%	;

    text-align: center;

}



#news, #channel, #tags {

    margin: 20px 7px 0px 18px;

    padding: 0 0 30px 0;

    text-align: left;

    width: 252px;

    color: #e0e0e0;

    float: left;

}



#news h3, #channel h3, #tags h3 {

    margin: 0 0 10px 0;

    padding: 0px;

    font: normal 20px/22px "Myriad Web", Arial, Tahoma, sans-serif;

    color: #FFF;

}



#news p, #channel p {

    margin: 0px;

    padding: 5px;

    border-top: 1px solid #7d7b7c;

    display: block;
	overflow:hidden;
	clear:both;

}

*HTML #news p  { margin-bottom:3px !important;}
*HTML #channel p  { margin-bottom:3px !important;}

#channel p.semore A {
color:#F4D764;

    margin: 0px;

    margin: 5px;

   display: block;
   background:none;

}

#channel p.semore:hover { background:#2D2C2C}

#channel p.semore A:hover {
color:#8BDEFE;
 background:#2D2C2C;

}


#tags p {

    margin: 0px;

    padding: 5px 0 10px 0;

	text-align: justify;

    display: block;

}



#news p:hover, #channel p:hover {

    background: #222222;
	
}



#news p a, #channel p a {


    text-decoration: none;

    color: #cccccc;

}

#news p a img, #channel p a img { border:1px solid #cccccc; margin-right:5px;}



#news p a:hover, #channel p a:hover {

    color: #d18a1f;

}

#news img, #channel img {

padding: 1px;

}




/* End of Clip Share Rich Footer */



/* Clip Share Footer */



#footer {

    margin: 0px auto;

    background: url(../images/tpl_footer_bg.png) repeat-x;
	
	width:850px;

}



#footcontainer {

    margin: 0px auto;

    padding: 20px;

    text-align: center;

}



#footcontainer p {

    margin: 0 10px;

    padding: 0px;

    color: #444444;

}



#footcontainer p a {

    margin: 0px;

    border: none;

    text-decoration: none;

    color: #cccccc;

}



#footcontainer p a:hover {

    border-bottom: 1px dotted #444444;
	
	color: #d18a1f;

}



#footcontainer p a img.rss {

    border: none;

    text-decoration: none;

}



/* Clip Share Medium Box */

/*

#mediumbox {

    margin: 0;

    padding: 0;

    background: transparent url(images/bg_main_box.jpg) repeat-x; 

    border: 1px solid #eaeaea;



}

#mediumbox h3 {

    margin: 0px;

    padding: 0 0 0 5px;

    background: transparent url(images/recently_bar.gif) no-repeat top;

    color: #ffffff;

    font: normal 19px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    letter-spacing: -1px;

    height: 38px;

}

*/

/* End Clip Share Medium Box */



/* Clip Share Full Box */

#fullbox,#invitefriend,#invitenewfriend{

    display:block;

    width:844x;

    background: #252525;

    text-align: left;

}



#fullbox label,#invitefriend label,#invitenewfriend label {

    font-weight: bold;

}

#fullbox form input.inputtext,#invitefriend form input.inputtype,#invitenewfriend form input.inputtype  {

	margin: 0 0 5px 0;

    padding: 2px;

    border: 1px solid #666666;

    background: #393939 url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

	color: #ccc;

    width: 240px;
	
}





#fullbox form p input.submitbutton,#invitefriend form p input.submitbutton,#invitenewfriend form p input.submitbutton {

    margin: 5px 0 0 0;

}



#fullbox div.fm-req,#fullbox div.fm-opt,

#invitefriend div.fm-req,#invitenewfriend div.fm-req,

#invitefriend div.fm-opt,#invitenewfriend div.fm-opt{

    

}



#fullbox div.fm-req label:before,

#invitefriend div.fm-req label:before,

#invitenewfriend div.fm-req label:before{

    content: "* "; /* does not work in IE */

    color: #CC0000;

    font-weight: bold;

}



#fullbox div.fm-opt label:before,

#invitefriend div.fm-opt label:before,

#invitenewfriend div.fm-opt label:before{

    color: #CC0000;

}

 



.submitbutton {

    margin-left: 150px;

    padding : 10px 0 0 25px;

} 





/* End Clip Share Full Box */



/* Clip Share Signup */

#signup form {

    margin: 10px;

    padding: 0px;

}

#signup label, #fullbox label {

    float: left;

    width: 150px;

    padding: 0 1em;

    text-align: right;

    font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #888888;

}

#signup form p {

    margin: 0px;

    padding: 0px;

    font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #008ece;

}



#signup form input.signuptext,#fullbox form input.fullboxtext {

    margin: 0 0 10px 0;

    padding: 2px;

    border: 1px solid #666666;

    background: #393939 url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

	color: #ccc;

    width: 220px;

    height: 15px;

}



textarea.fullboxtext {

	margin: 0 0 10px 0;

    padding: 6px;

    border: 1px solid #666666;

    background: #1b1a1a url(../images/tpl_textarea_bg.gif) no-repeat top left;
	
	color: #ccc;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    width: 220px;

}



#signup form p input.signupbutton {

    margin: 5px 0 0 0;

    padding: 0px;

}



/* required fields - does not work in IE */

#signup div.fm-req {

    font-weight: bold;

}



#signup div.fm-req label:before {

    content: "* "; /* does not work in IE */

    color: #CC0000;

}

.captcha {

    float: right;

    width: 400px;

    text-align: center;

    margin-right: 0px;

}

.captcha {

/*  float: right;

    width: 100%;

    text-align: right;

    margin-right: 20px;*/

}



.signupstatement {

    margin-left: 150px;

    float: left;

}

#signup ul li {

    list-style-image: url(../images/tpl_icon_bullet.gif);

}

.signupbutton {

    margin-left: 150px;

    padding : 0 0 0 25px;

}

/* End Clip Share Signup */



/* My Profile */

#myprofile {

    display:block;

    width:848px;

    background: #252525;

    border: 1px solid #2f2f2f;

    text-align: left;

}



#myprofile form {

    margin: 10px;

    padding: 0px;

}

#myprofile fieldset {

    margin: 1em 0;

    border: none;

}



#myprofile legend {

    margin: 1em 0;

    padding: 0 .5em;

    background: transparent;

    font-size: 19px;

    font-weight: normal;
	
	color:#7cc1fa;

	letter-spacing: -1px;

}



#myprofile label {

    float: left;

    width: 150px;

    padding: 0 1em;

    text-align: right;

    font-size: 12px;

    font-weight: normal;

}

#myprofile form p {

    margin: 0px;

    padding: 0px;

    font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #008ece;

}



#myprofile form input.myprofiletext {

    margin: 0 0 5px 0;

    padding: 2px;

    border: 1px solid #666666;

    background: #393939 url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

	color: #ccc;

    width: 240px;
	

}

#myprofile form input.zip, #myprofile form input.state
{
	width: 135px;
}

#myprofile form textarea.myprofiletext, #fullbox form textarea.inputtext {

	margin: 0 0 10px 0;

    padding: 6px;

    border: 1px solid #666666;

    background: #1b1a1a url(../images/tpl_textarea_bg.gif) no-repeat top left;
	
	color: #ccc;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    width: 240px;

}

#myprofile form select.myprofiletext {

    margin: 0 0 5px 0;

    padding: 2px;

    border: 1px solid #666666;

    background: #393939 url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

	color: #ccc;

}

#myprofile form input.myprofilebrowsefile {

    margin: 0 0 5px 0;

    padding: 2px;

    border: 1px solid #666666;

    background: #393939 url(../images/tpl_input_bg.gif) no-repeat top left;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

	color: #ccc;


}



#myprofile form p input.myprofilebutton{

    margin: 5px 0 0 0;

    padding: 0px;

}



/* required fields - does not work in IE */

#myprofile div.fm-req {

    font-weight: bold;

}



#myprofile div.fm-req label:before {

    content: "* "; /* does not work in IE */

    color: #CC0000;

}

.myprofilestatement {

    margin-left: 150px;

    float: left;

}

#myprofile ul li {

    list-style-image: url(../images/tpl_icon_bullet.gif);

}

.myprofilebutton {

    margin-left: 150px;

    padding : 0 0 0 25px;

}



/* End My Profile */



/* Clip Share User Menu */

#usermenu p{

    margin: 10px 10px;

    padding: 0 0 0 25px;

}

#usermenu h4 {

    font: normal 19px "Myriad Web", Tahoma, sans-serif;

    color:#7cc1fa;
	
	letter-spacing: -1px;
	
	padding-left:10px;



}

.mystats {

    margin: 0 0 0 5px;

    float: left;

    width: 210px;

    display: inline;

}

.myinbox {

    margin: 0 0 0 5px;

    float: left;

    width: 210px;

    display: inline;

}

p.myvideostat {

    background: transparent url(../images/tpl_icon_video.gif) no-repeat;

}

p.friends {

    background: transparent url(../images/tpl_icon_friends.gif) no-repeat;

}

p.friendreq {

    background: transparent url(../images/tpl_icon_friend_req.gif) no-repeat;

}

p.watch {

    background: transparent url(../images/tpl_icon_watched.gif) no-repeat;

}

p.visitors {

    background: transparent url(../images/tpl_icon_visitors.gif) no-repeat;

}

p.profile {

    background: transparent url(../images/tpl_icon_profile.gif) no-repeat;

}

p.message {

    background: transparent url(../images/tpl_icon_new_message.gif) no-repeat;

}


/* End Clip Share User Menu */



/* Most Active User */



ul#mostactiveuser {

    margin: 0;

    padding: 0;

}

ul#mostactiveuser li {

    margin: 0;

    float: left;

    list-style-type: none;

    padding: 0 0 0 24px;
	
	padding-bottom: 15px;

    text-align: center;

}

ul#mostactiveuser img {

    padding: 1px;

    border: 1px solid #333;
	
}

ul#mostactiveuser li.boxshow{

    margin: 0;

    float: left;

    list-style-type: none;

    padding: 0 0 0 20px;

    text-align: center;
	
	line-height: 14px;

    height:230px; 

}

ul#mostactiveuser span.title {

	font: normal 13px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}

ul#mostactiveuser span.duration {

	font: bold 12px Arial, Helvetica, sans-serif;

}

ul#mostactiveuser span.info {

	color: #808080;

}

/* End Most Active User */



/* top watched */

/*#topwatched {



    margin: 10px 0 0 0px;

    height: 230px;

}*/



/* End top watched */



p.specialmessage {

    border: 1px solid #333;

    padding: 10px;

    margin: 10px auto;

    width: 350px;

    text-align: center;

    background-color: #161616;

}

.navvideo {

    display: inline;

    text-align: right;

    float:left;

}

#fullbox-title .basicdetailed {

    display: inline;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #333333;

    letter-spacing: normal;

    margin: 0 40px 0 40px;

    width:100px;

    float:left;

    padding-top:5px;

}

#fullbox-title .basicdetailed a:hover{

    color: #FFFFFF;

}

h1.titlepage{

    float:left;
    font-size:18px;
margin:0;
padding:0;

}



.videopaging {

    display: none; /* 24.06.2008 */

    width: 200px;

    font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

    color: #ffffff;

    letter-spacing: normal;

    margin: 0;

    text-align: right;

    float:right;

    padding-top:5px;

    margin-right:10px;

}

#fullbox-title p img {

    margin-right: 5px;

}

#videobox {

    text-align: center;

    margin: 0 auto;
	
	line-height: 14px;
}

#tagsbox {

    text-align: justify;

    margin: 0 auto;
	
}

#videobox table tr td{

    padding-bottom: 30px;

    padding-left:12px;

}

#videobox img {

    padding: 1px;

    border: 1px solid #333;

}

#videobox img.star {

    border: none;

}

#videobox span.title {

	font: normal 13px;
	display:block; 
	$padding-top:5px;

}

#videobox span.duration {

	font: bold 12px Arial, Helvetica, sans-serif;

}

#videobox span.info {

	color: #808080;

}

.center {

    text-align: center;

}

#paging{

    width:100%;

    margin: 0px auto;

    padding: 0px;

    text-align:center;

}

#paging-left{

    width:619px;

}

.pagingnav{

width:100%;

font: normal 11px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

color: #000000;

background:#514f50;
}

.pagingnav {

/*width: 496px;*/

/*background: url(../img/chromebg.gif) center center repeat-x; /*THEME CHANGE HERE*/

padding: 0;

margin: 0px auto;

line-height: 28px;

text-align: center; /*set value to "left", "center", or "right"*/

}

.pagingnav  {

/*display: inline;*/

}

.pagingnav a{

color: #888;

padding: 2px 4px;

margin: 2px; 

text-decoration: none;

border: 1px solid #333;

background-color: #161616;

display: block:

}

.pagingnav   a:hover{

    text-decoration: none;
	
	border: 1px solid #666;
	
	color: #fff;

    background-color: #333333;

    font-weight: normal;

}


.replythis {

    background: url(../images/tpl_icon_reply.gif) no-repeat left center;

    padding: 0 80px 0 20px;

    float: right;

    margin-bottom: 10px;

}

.videoplayer {

    margin-left: 13px;

}

.textdesc{

    width:120px;

}

/*.listchannel, .listchannellarge{
    float:left;
    padding:5px;
    margin:0 2px 5px 0;
	height:110px;
	width:120px;

}*/
.listchannel, .listchannellarge{
float:left; $display:inline;
padding:5px;
margin:0 2px 5px 0;
/*height:110px;*/
height:200px;
width:148px;
}


.premium_wrap {
	float:left;
	display:block;
	width:128px;
	height:175px;
	margin:0px 10px 10px 14px;
	$padding:0px;
	text-align:center;
}


.premium_wrap B {
	display:block;
	line-height:14px;	
	/*height:30px;*/
	
}

.listchannel.premium {
	background: url(/images/rec_monitor_premium.gif) no-repeat top;
	width:128px;
	height: 108px;
	padding:9px 0 0 0px;
	$width:130px;
	$height: 118px;
	$padding:1px 0px 0px 0px;
	$margin:0px;
	$text-align:center;
}

.listchannel.free {
	background: url(/images/rec_monitor_free.jpg) no-repeat top;
	width:128px;
	padding:9px 0 0 0px;
	$width:128px;
	$padding:3px 0px 0px 0px;
	$margin:0px;
	$text-align:center;
}

.listchannel.channel {
	background: url(/images/rec_monitor_channel.jpg) no-repeat top;
	width:128px;
	padding:9px 0 0 0px;
	$width:110px;
	$padding:0px;
	$margin:0px;
	$text-align:center;
}

.listchannellarge{

    width:650px;

}

.listchannellarge .imagechannelinfo,.listchannellarge .imagechannel{
    float:left;
}

.imagechannel.premium
{
height:107px;
}

.listchannel.premium .imagechannel.premium a img{

    width:120px;
	height:90px;
}

.listchannellarge .imagechannelinfo{

    padding-left:10px;
    text-align:left;
}

.listchannellarge .imagechannelinfo .title{

}

.listchannellarge .imagechannel a img{
    width:120px;
    height:90px;
}

.listchannel .star img,.listchannellarge .star img{

    border:none;

}



.startratebox{

    height:19px;

    width:120px;

	/*   text-align:center; */

    border:0px solid;
	
}

.startratebox img {

    border: 0 !important;

}



.startratebox2{

    height:19px;

    width:192px; 

    border:0px solid;

}

.startratebox2 img {

    border: 0 !important;

    width:11px;

}

/* group */

 

#browsegroup-title .videopaging{



}

.groupdetail{

    float:left;

}

/* end group */



/* Friends */

.friendlist {

    margin: 0;

    padding: 0;

    float: left;

    display: block;

    border-bottom: 1px solid #eaeaea;

    width: 496px;

}

.friendspict {

    width: 52px;

    margin: 10px 20px 0 10px;

    float: left;



}

.dropdownviewnav {

    width: 100%;

    display: block;

    float:right;

    text-align: right;

    padding: -5px 10px 10px 0;

}

.friendsaction {

    width: 496px;

}

.selectaction { 

    padding: 10px;

    text-align:right;

}

#myfriends p {

    margin: 0;

    padding: 5px 0 5px 0;

}

.friendstat {

    margin-left: 70px;

}

.friendstat p span {

    padding: 0 30px 0 20px;

}

.friendstat p span.video {

    background: transparent url(../images/tpl_icon_video.gif) no-repeat;

}



.friendstat p span.flag {

    background: transparent url(../images/tpl_icon_flag.gif) no-repeat;

}



.friendstat p span.people {

    background: transparent url(../images/tpl_icon_people.gif) no-repeat;

}

/* End Friends */



/*My Video */

.myvideo {

    margin-top: 10px;

    width: 619px;

    display:block;

    float: left;

}

.videothumb {

    width: 140px;

    display: block;

    float: left;

    text-align: center;
	
	height: 152px;
	
}

.videothumb img {

    padding: 2px;

    border: 1px solid #333;

}

.maindesc {

    width: 320px;

    display: block;

    float: left;

    margin: 0 0 0 10px;

    border-bottom: 1px solid #EEE;

}

.maindescwithoutborder {

    width: 320px;

    display: block;

    float: left;

    margin: 0 0 0 10px;

    border-bottom: none;

}



.otherdesc {

    width: 320px;

    display: block;

    float: left;

    margin: 0 0 0 10px;

}   



/* End My Video */



/* Inbox Outbox */



.inbox th {

    border-bottom: 3px solid #333333;

    height: 30px;

    background-color: #262626;

    text-align: center;
	
	color: #ccc;

}

.inbox td {

    height: 20px;

    padding: 4px 10px 4px 10px;

}

.inbox td.blue {

    background-color: #373536;

    padding: 4px 10px 4px 10px;

}

a.newmail {

    padding-left: 25px;

    background: transparent url(../images/tpl_icon_new_message.gif) no-repeat;

    font-weight:bold;

}

a.openedmail {

    padding-left: 25px;

    background: transparent url(../images/tpl_icon_message.gif) no-repeat;

}

/* End Inbox Outbox*/



/* Groups */

#groups p {

    margin: 15px 5px;

    padding: 0px;

}



#groups p span {

    margin: 5px 5px 0 0;

    padding: 0 0 0 18px;

    font-weight: bold;

}



.group {

    margin-top: 10px;

    width: 496px;

    display:block;

    float: left;

}

.groupthumb {

    width: 140px;

    display: block;

    float: left;

    text-align: center;

    margin: 10px 0 0 0;

}

.groupthumb img {

    padding: 1px;

    border: 1px solid #333;

}



#groups p span.video {

    background: transparent url(../images/tpl_icon_video.gif) no-repeat;

    letter-spacing: -1px;

}



#groups p span.topic {

    background: transparent url(../images/tpl_icon_topic.gif) no-repeat;

    letter-spacing: -1px;

}



#groups p span.people {

    background: transparent url(../images/tpl_icon_people.gif) no-repeat;

    letter-spacing: -1px;

}



p#grouphome_icon, p#grouppost_icon {

    margin: 15px 5px;

    padding: 0px;

}



p#grouphome_icon span, p#grouppost_icon span {

    margin: 5px 5px 0 0;

    padding: 0 0 0 18px;

    font-weight: bold;

}



p#grouphome_icon span.video, p#grouppost_icon span.video {

    background: transparent url(../images/tpl_icon_video.gif) no-repeat;

    letter-spacing: -1px;

}

p#grouphome_icon span.people, p#grouppost_icon span.people {

    background: transparent url(../images/tpl_icon_people.gif) no-repeat;

    letter-spacing: -1px;

}

p#grouppost_icon span.flag {

    background: transparent url(../images/tpl_icon_flag.gif) no-repeat;

    letter-spacing: -1px;

}

p#grouphome_icon span.newpeople {

    background: transparent url(../images/tpl_icon_membernew.gif) no-repeat;

    letter-spacing: -1px;

}

p#grouphome_icon span.newvideo {

    background: transparent url(../images/tpl_icon_videonew.gif) no-repeat;

    letter-spacing: -1px;

}





.groupdesc {

    width: 320px;

    display: block;

    float: left;

    margin: 0 0 0 10px;

}

.group-home-desc {

    display: block;

    float: left;



}

.groupforum-items {

    margin: 0 10px;

}

.group-post-desc {

    display: block;

    float: left;

    width: 550px;



}

.grouppost-comment {

    border-bottom: 1px solid #EAEAEA;

}



.divede-box{

    clear:both;

    padding-bottom:20px;

    display:block;

}

/*

form#add_group_topic textarea.fullboxtext{

    width: 300px;

    float: left;

}

.attachvideo {

    width: 300px;

    margin: 0 0 0 20px;

}*/

/*End Group */



#prevmovie {

    width: 60px;

    float: left;
	
	padding-left: 24px;
	
	text-align: center;

}

#nextmovie {

    width: 60px;
	
	float: left;

    text-align: center;
	

}

#playmovie {

    width: 60px;

    float: left;

    text-align: center;

}

.relatedvideothumbnail {

	padding-left: 5px;

    width: 60px;

    float: left;

    display: block;

    text-align: center;
	
}

.relatedvideodesc {

    width: 100px;

    float: left;

    display: block;

    padding-left: 8px;

    text-align:left;
	
	font: normal 11px/14px "Lucida Sans Unicode", Arial, Helvetica, sans-serif;

}


#recent1,#recent2,#recent3{

    /*padding-left:16px;*/

    padding: 0;

    width:535px;

    float:left;
	
}



.side_results{

    overflow: auto;

    height: 350px;

    width: 196px;
	
	display: block;
	
}

.boxtable{

    padding-left:30px;

}



.floatmenu{

    float:left;

    width:125px;

    text-align:left;

    background: transparent url(../images/tpl_icon_arrow.gif) no-repeat;

    padding-left:15px;
	
	line-height: 14px;
	
}



.floatmenu-without-arrow{

    float:left;

    width:85px;

    text-align:left;

    padding-left:15px;

}



.comment-content{

    word-wrap: break-word ;

    overflow: auto;

    width:300px;

}



.errorbox{

	border: dotted 1px #FF0000;
	
	color: #FF0000;

	font-weight: normal;
	
	font-size: 13px;

	width:728px;
	
	margin-top: 10px;
	
	margin-bottom: 15px;

	padding: 3px;
}

.msgbox{

	border: dotted 1px #009933;
	
	color: #009933;

	font-weight: normal;
	
	font-size: 13px;

	width:728px;
	
	margin-top: 10px;
	
	margin-bottom: 15px;

	padding: 3px;

}


a.cloudtags {

	text-decoration: none;

	/*border-bottom:dotted 1px #cccccc;*/

	padding: 2px;

	color: #777777;

}
.tag_index a.cloudtags { color: #B2B0B0;
}

.tag_index a.cloudtags span { font-size:1.2em;}

a.cloudtags:hover {

	text-decoration: none;

	border-bottom: none;

	background: #d18a1f;

	color: white;

	padding: 2px;

}

/* Display Comments */

.comment-divider {

	border-bottom: dotted 1px #ccc;
	
}

.comment-image {

	margin: 3px;
	
	margin-top: 7px;
	
	padding: 1px;
	
	border: 1px solid #333;

}

span.comment-info {

	font-size: 11px;
	
	color: #fff;

}

.comment-body {

	padding: 8px;
	
	border: 1px dashed #333333;
	
	background: #161616;

}

.video_box {padding:0 0 0 20px; display:block; overflow:hidden;}

.video_box p {padding-top:0px; padding-bottom:10px; margin-top:0px; margin-bottom:0px;}

.video_box {_width:307px; }

.quotes {
	padding:0px;
	margin:0px;
	display:block;
	
}

.quotes p { padding-top:0px; padding-bottom:10px; margin-top:0px; margin-bottom:0px;}

DL.quotes { padding-top:5px;}

.quotes DT {
	background:url(/images/quot_left.gif) no-repeat top left;
	display:block;
	width:31px;
	height:28px;
	float:left;
}

.quotes DD {
	background:url(/images/quot_right.gif) no-repeat bottom right;
	display:block;
	padding:10px 0;
	margin:0 0 0 40px;
	
	
}
.payment_header {color: #DDA73C}

.new_menu_links {
margin:0px;
padding:0 0 0 40px;
float:left;
line-height:14px;
/*white-space:nowrap;*/
width:130px;
}

.new_menu_links li.simple{
list-style-type:none;} 


.new_menu_links A{
color:#fff;
text-decoration:none;

}

.new_menu_links A:hover {
color:#000;
}

#buy_plan
{
	display: block;
	width: 101px;
	height: 20px;
	float:left;
	border:0;
	margin-left:0px;
}

#tbox2
{
	float:right;
	width:235px;
}
#tbox2 a {
	white-space:nowrap;
}
#tbox
{
	float:right;
	width:240px;
}

#pt108
{
	width:190px;
	float:left;
}

#search_img
{
	position:absolute;
	bottom:0;
	right:0;
	margin:0;
	padding: 0px 1px 1px 1px;
    font-size:13px;
	background-color: # 3c3c3c;
	height:20px;
	border:1px solid #666666;
	color:#F4D764;
	background-color:#4c4c4c;
}
#search_img { width:25px; cursor:pointer;}

input.text
{
	margin:0;
}

#searchbox
{
	position:absolute;
	bottom:0;
	right:25px;
}
.white_bg a { color:#116ab4 !important; }
.white_bg a:hover {color:#F4D764; text-decoration:underline;}

.whitetext {
color:#FFFFFF;
}
.yellowtext {
color:#F4D46D;
}
.greenbluetext {
color:#17E5F3;
}
.greentext {
color:#40DE0B;
}

h1 {index_style.css (line 6)
color:#FFFFFF;
font-size:24px;
font-weight:normal;
}

#slogun
{
	width:400px;
	height:50px;
	border:none;
	position:absolute;
	left:320px;
	top:43px;
	background:none;
}

#slogun h1
{
	margin:0;
	padding:0;
	text-indent:0;
	background:none;
}


	.app-logos					{ float:left; margin:0 10px 10px 0;}


.about-block { font-family:"Myriad Web",Tahoma,sans-serif; font-size:13px; line-height:15px; color:#ffffff; }
	.about-block .main-title	{ line-height:23px; font-size:18px;  color:#ffcc66; }
	.about-block .title			{ margin:20px 0 0 0; line-height:16px; font-size:14px;color:#7cc1fa; font-weight:bold; }
	.about-block .title A			{ margin:20px 0 0 0; line-height:16px; font-weight:bold; font-size:14px;color:#7cc1fa; }
	.about-block .title-italic	{ margin:20px 0 0 0; font-style:italic; }
	.about-block P				{ margin:20px 0 0 0; }
	.about-block A				{ color:#7cc1fa !important; }	
	
