{% extends 'base.html' %}


{% block content %}
{% csrf_token %}

<section class="registration">
    <div class="row secBg">
        <div class="large-12 columns">
            <div class="login-register-content">
                <div class="row collapse borderBottom">
                    <div class="medium-6 large-centered medium-centered">
                        <div class="page-heading text-center">
                            <h3 style="font-size: 28px;">{{plan_title}}{{product.plan_id}}</h3>
                            <!-- <h3 style="text-align: left; font-size: 15px;">To renew a subscription, first sign in with your existing login and password here.
                                Your receipts and statements will show a charge from Mark Schoen Productions.
                                Note that we zealously protect the privacy of our users. We will never share your personal information or viewing history with outside parties.</h3> -->
                                

								<div class="googleAdv">
									<a href="{% url 'single_video' slug %}"><img src="{{poster_url}}" alt="googel ads" onerror="this.src='{{ base_details.default_poster_url }}';"></a>
								</div>

								{% if pay_per_view == True %}

								<button  class="button expanded btnclr" type="" name=""><a href="{% url 'single_video' slug %}">Play Now</a></button>

								{% endif %}
								<!-- <button class="button expanded btnclr blink" style=" background-color: #e0de58;" type="" name="subscribe"><a href="{% url 'single_video' slug %}">Play Now</a></button> -->


								<h3>{{product.title}}</h3>
					           <hr>
					           <h4>Amount: ${{product.price}}</h4>
						
								<div class="page-heading text-center" id="paypal-button-container"></div>
						
							</div>
                    </div>
                </div>





<!DOCTYPE html>
<html>
<head>
	<title>Store</title>
	<meta id="meta" name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->


	<style type="text/css">
		body{
			background-color: #f0f0f0;
			
		}

	</style>
</head>
<body>
	<!-- <div class="container">
		<div class="row">
			<div class="col-lg">
				<br>
				<img src="{{product.image_url}}">
			</div>

			<div class="col-lg">
				<br>
				<div class="card card-body">
					
                        
					<hr>

					<div id="paypal-button-container"></div>

				</div>
			</div>
		</div>
	</div> -->


	<script src="https://www.paypal.com/sdk/js?client-id=AXAYAC68w8pwKAC9FF3lOzlbUCJBAf5aLhj3u60ceSS5T3MJBuXMEHoH3KU-Y4RlU9BO7S5L7GUyiolP&currency=USD"></script>
	 <script>

	 	function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');

	 	var total = '{{product.price}}'
	 	var productId = '{{product.plan_id}}'
		var video_id ='{{video_id}}'
		var pay_per_view='{{pay_per_view}}'

	 	function completeOrder(){
	 		var url = "{% url 'complete' %}"

	 		fetch(url, {
	 			method:'POST',
	 			headers:{
	 				'Content-type':'application/json',
	 				'X-CSRFToken':csrftoken,
	 			},
	 			body:JSON.stringify({'productId':productId,"video_id":video_id,"pay_per_view":pay_per_view,"total":total})
	 		})
	 	}


        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{ 
                        amount: {
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    completeOrder()
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script>

</body>
</html>

			</div></div></div></section>
			<div id="smart-button-container">
				<div style="text-align: center;">
				  <div id="paypal-button-container"></div>
				</div>
			  </div>
			  <!-- <script src="https://www.paypal.com/sdk/js?client-id=ATsf762yjHTf-sycKKLu0P0wh-sgAup9H3xE0haayB1a5z_LoY3nGKmxdxCXBwu0b7GpX3ajEMJ1_CZb&enable-funding=venmo&currency=USD" data-sdk-integration-source="button-factory"></script> -->
			  <script src="https://www.paypal.com/sdk/js?client-id=AfYgaf7iJ3Dbtm9-pPSn6TSMAq2OQzv0ZbDOrRopPg_kJPgpFv7oNywR9dc1dKp8kMGrOwFM-sSeHrnO&currency=USD"></script>
 
			 
			 <script>
			var csrftoken = getCookie('csrftoken');
			var total = '{{product.price}}';
			var price = '{{product.price}}';
			var productId = '{{product.plan_id}}';
			var video_id ='{{video_id}}'
			var pay_per_view='{{pay_per_view}}';	

			  function initPayPalButton() {
				paypal.Buttons({
				  style: {
					shape: 'rect',
					color: 'gold',
					layout: 'vertical',
					label: 'paypal',
					
				  },
		  
				    
				  createOrder: function(data, actions) {
					return actions.order.create({
					  purchase_units: [{"amount":{"currency_code":"USD","value":price}}]
					});
				  },
		  
				  onApprove: function(data, actions) {
					return actions.order.capture().then(function(orderData) {
					  
					  // Full available details
					//   console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
					  var url = "{% url 'complete' %}"

						fetch(url, {
							method:'POST',
							headers:{
								'Content-type':'application/json',
								'X-CSRFToken':csrftoken,
							},
							body:JSON.stringify({'productId':productId,"video_id":video_id,"pay_per_view":pay_per_view,"total":total,"report":orderData})
						})
		  
					  // Show a success message within this page, e.g.
					  const element = document.getElementById('paypal-button-container');
					  element.innerHTML = '';
					  element.innerHTML = "<button  class='button expanded btnclr' ><a href='{% url 'single_video' slug %}''>Play Now</a></button>";
		  
					  // Or go to another URL:  actions.redirect('thank_you.html');
					  
					});
				  },
		  
				  onError: function(err) {
					console.log(err);
				  }
				}).render('#paypal-button-container');
			  }
			  initPayPalButton();
			</script>

{% endblock %}