<!doctype html>
{% load static %}
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{base_details.title}}</title>
    <!-- <link rel="icon" href="https://s3.us-east-2.amazonaws.com/test2.tickle.life/project_image/favicon.ico" type="image/x-icon"> -->
    <link rel="icon" href="{{base_details.title_logo_url}}" type="image/x-icon">

   

    <!-- <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="layerslider/css/layerslider.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/responsive.css">  -->

 <!-- <link rel="stylesheet" href="{% static 'SchoolDesign/css/all.min.css' %}"  css/jquery.kyco.easyshare.css  -->

     <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link href="{% static 'css/family-open-sans.css' %}" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'layerslider/css/layerslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.kyco.easyshare.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'layerslider/skins/noskin/skin.css' %}"> -->

    <style>
            .res-circle {
      /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
      width: 20%;
      border-radius: 50%;
    
      /* (B) BACKGROUND COLOR */ 
      background: #bcd6ff;
     
      /* (C) NECESSARY TO POSITION TEXT BLOCK */
      line-height: 0;
      position: relative;
    }
     
    /* (D) MATCH HEIGHT */
    .res-circle::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
     
    /* (E) TEXT BLOCK */
    .circle-txt {
      /* (E1) CENTER TEXT IN CIRCLE */
      position: absolute;
      bottom: 50%;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
     
      /* (E2) THE FONT - NOT REALLY IMPORTANT */
      font-family: arial, sans-serif;
      font-weight: bold;
      /* white-space: nowrap !important; */
    }

    .circle-txt-right {
      /* (E1) CENTER TEXT IN CIRCLE */
      position: absolute;
      bottom: 5%;
      width: 100%;
      text-align: right;
      left: 70px;
      text-transform: uppercase;
     
      /* (E2) THE FONT - NOT REALLY IMPORTANT */
      font-family: arial, sans-serif;
      font-weight: bold;
      white-space: nowrap !important;
    }
        body p{
            color: blue;
        }
        .div11_desktop {
            background-color:black;

            width:1170px !important;
            height:190px !important;
            border-radius: 1%;
            /* padding: 20px;  */
        }

        .div11_mobile {
            background-color:black;

            width:370px !important;
            height:110px !important;
            border-radius: 5%;
            /* padding: 20px;  */
        }
        
        
        .div-2 {
            background-color: #ABBAEA;
        }
        
        .div-3 {
            background-color: #fff;
        
        }

        .small_logo {
            display: none;

        }

        @media screen and (max-width: 500px) {

    

            .small_logo{
                margin: 0px !important;
                display: inline-block;

            }

            .mobile_off{
                display: none;
            }
        }

        .bnbg {
        background: #404140;
        color: #fcf5c0;
}
.promoLine {
    background: #404140;
    color: #fcf5c0;
    text-align: center;
    letter-spacing: 0.2em;
    font: italic 700 6.2em/1.5 Georgia, "Times New Roman", Times, serif;
    text-shadow: 3px 3px 0 #161716;
    border-top: 21px solid #2c2d2b;
    font-size: 36px;
    
}

@media screen and (max-width: 500px) {


.promoLine {
    width: 100%;
    height: 200px;
    margin-left: 10px;
    letter-spacing: 0.1em;
    font-size: 25px;
   
}

}

    </style>

    
</head>
<body>


<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <!--header-->
  <div class="off-canvas position-left light-off-menu" id="offCanvas-responsive" data-off-canvas>
    <div class="off-menu-close">
        <h3>Menu</h3>
        <span data-toggle="offCanvas-responsive"><i class="fa fa-times"></i></span>
    </div>
    <ul class="vertical menu off-menu" data-responsive-menu="drilldown">
        <li class="has-submenu">
            <a href="/"><i class="fa fa-home"></i>Home</a>
            <!-- <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                <li><a href="index.html"><i class="fa fa-home"></i>Home page v1 </a></li>
                <li><a href="home-v2.html"><i class="fa fa-home"></i>Home page v2</a></li>
                <li><a href="home-v3.html"><i class="fa fa-home"></i>Home page v3</a></li>
                <li><a href="home-v4.html"><i class="fa fa-home"></i>Home page v4</a></li>
                <li><a href="home-v5.html"><i class="fa fa-home"></i>Home page v5</a></li>
                <li><a href="home-v6.html"><i class="fa fa-home"></i>Home page v6</a></li>
                <li><a href="home-v7.html"><i class="fa fa-home"></i>Home page v7</a></li>
                <li><a href="home-v8.html"><i class="fa fa-home"></i>Home page v8</a></li>
                <li><a href="home-v9.html"><i class="fa fa-home"></i>Home page v9</a></li>
                <li><a href="home-v10.html"><i class="fa fa-home"></i>Home page v10</a></li>
            </ul> -->
        </li>
        <!-- <li class="has-submenu" data-dropdown-menu="example1">
            <a href="#"><i class="fa fa-film"></i>Videos</a>
            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                <li><a href="single-video-v1.html"><i class="fa fa-film"></i>single video v1</a></li>
                <li><a href="single-video-v2.html"><i class="fa fa-film"></i>single video v2</a></li>
                <li><a href="single-video-v3.html"><i class="fa fa-film"></i>single video v3</a></li>
                <li><a href="submit-post.html"><i class="fa fa-film"></i>submit post</a></li>
            </ul>
        </li> -->
        <!-- <li><a href="/categories"><i class="fa fa-th"></i>category</a></li> -->
        <li>
            <a href="#"><i class="fa fa-th"></i>category</a>
            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up"> 
                {% for i in cat %}
                <li><a href="{% url 'all_view' i.slug %}"><i class="fa fa-th"></i>{{i.category_name}}</a></li>
                {% endfor %}
               
              
            </ul>
        </li>


        <li>
            <a href="/blog"><i class="fa fa-edit"></i>blog</a>
            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                <!-- <li><a href="/blog-single-post"><i class="fa fa-edit"></i>blog single post</a></li> -->
            </ul>
        </li>
        <li>
            <a href="/features"><i class="fa fa-magic"></i>features</a>
            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">


                <li><a href="/myprofile/"><i class="fa fa-magic"></i>MY Profile</a></li>
                <li><a href="/login_user"><i class="fa fa-magic"></i>login</a></li>
                <li><a href="/register_user"><i class="fa fa-magic"></i>Register</a></li>
                <li><a href="/forgot_password"><i class="fa fa-magic"></i>Forgot Password</a></li>
                <li><a href="/logout"><i class="fa fa-magic"></i>logout</a></li>


                <!-- <li><a href="/error404/"><i class="fa fa-magic"></i>404 Page</a></li>
                <li><a href="/archives"><i class="fa fa-magic"></i>Archives</a></li>
                <li><a href="/login"><i class="fa fa-magic"></i>login</a></li>
                <li><a href="/login-forgot-pass"><i class="fa fa-magic"></i>Forgot Password</a></li>
                <li><a href="/login-register"><i class="fa fa-magic"></i>Register</a></li> -->

                <!-- <li>
                    <a href="/profile"><i class="fa fa-magic"></i>profile</a>
                    <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                        <li><a href="profile-page-v1.html"><i class="fa fa-magic"></i>profile v1</a></li>
                        <li><a href="profile-page-v2.html"><i class="fa fa-magic"></i>profile v2</a></li>
                        <li><a href="profile-about-me.html"><i class="fa fa-magic"></i>Profile About Me</a></li>
                        <li><a href="profile-comments.html"><i class="fa fa-magic"></i>profile comments</a></li>
                        <li><a href="profile-favorite.html"><i class="fa fa-magic"></i>profile favorites</a></li>
                        <li><a href="profile-followers.html"><i class="fa fa-magic"></i>profile followers</a></li>
                        <li><a href="profile-settings.html"><i class="fa fa-magic"></i>profile settings</a></li>
                    </ul>
                </li> -->



                <!-- <li><a href="profile-video.html"><i class="fa fa-magic"></i>Author Page</a></li>
                <li><a href="search-results.html"><i class="fa fa-magic"></i>search results</a></li>
                <li><a href="terms-condition.html"><i class="fa fa-magic"></i>Terms &amp; Condition</a></li> -->


            </ul>
        </li>



        <!-- <li><a href="/about_us"><i class="fa fa-user"></i>about</a></li> -->


     <li >
            <a href="#"><i class="fa fa-user"></i>about</a>
            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                <li><a href="/about_us"><i class="fa fa-user"></i>about us</a></li>
                <li><a href="/online_course"><i class="fa fa-user"></i>online courses</a></li>

                <!-- <li><a href="single-video-v3.html"><i class="fa fa-film"></i>single video v3</a></li>
                <li><a href="submit-post.html"><i class="fa fa-film"></i>submit post</a></li> -->
            
            
            </ul>
        </li>



        <li><a href="/contact_us"><i class="fa fa-envelope"></i>contact</a></li>
    </ul>
    <div class="responsive-search">
        <form method="post">
            <div class="input-group">
                <input class="input-group-field" type="text" placeholder="search Here">
                <div class="input-group-button">
                    <button type="submit" name="search"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="off-social">
        <h6>Get Socialize</h6>
        <a href="https://www.facebook.com/SexSmartFilmscom-111457222213166/"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/SexSmartFilms"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/company/sexsmartfilms"><i class="fa fa-linkedin"></i></a>
        <a href="https://instagram.com/schoen.mark?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>


        <!-- <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-vimeo"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a> -->


    </div>
    <div class="top-button">
        <ul class="menu">
            <li>
                <a href="/submit_post">upload Video</a>
            </li>
            <li class="dropdown-login">
                <a href="/register_user">Register</a>
            </li>

            <li>
                <a href="/login_user">Login</a>
            </li>
        </ul>
    </div>
</div>
<div class="off-canvas-content" data-off-canvas-content>
    <header>
        <!-- Top -->
        <section id="top" class="topBar show-for-large">
            <div class="row">
                <div class="medium-6 columns">
                    <div class="socialLinks">
                        <a href="https://www.facebook.com/SexSmartFilmscom-111457222213166/"><i class="fa fa-facebook-f"></i></a>
                        <a href="https://twitter.com/SexSmartFilms"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/company/sexsmartfilms"><i class="fa fa-linkedin"></i></a>
                        <a href="https://instagram.com/schoen.mark?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>
                        <!-- <a class="loginReg fa fa-user" href="/login_user"> {{request.user.username}}</a> -->



                        <!-- <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-vimeo"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a> -->

                    </div>
                </div>
                <div class="medium-6 columns">
                    <div class="top-button">
                        <ul class="menu float-right">
                            <li>
                                <a href="/process_payment">Subscription Plan</a>
                            </li>
                            <li>
                                <a href="/submit_post">Upload Video</a>
                            </li>
                            <li>
                                <a href="/register_user">Register</a>
                            </li>

                            <li>
                                <a class=""  href="/login_user">login</a>
                            </li>


                            <!-- process_payment/ -->

                            <li class="dropdown-login">
                                <a class="loginReg fa fa-user" data-toggle="example-dropdown" href="/login_user"> {{request.user.username|slice:1}}</a>
                                <div class="login-form">
                                   
                                    <!-- <h3 style="text-transform:capitalize;" class="text-center">{{request.user.username}}</h3> -->
                     
                                    <form method="POST">

                                        {% csrf_token %}


                                        <!-- <div class="input-group">
                                            <span class="input-group-label"><i class="fa fa-user"></i></span>
                                            <input class="input-group-field" type="text" placeholder="Enter username" name="username">
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-label"><i class="fa fa-lock"></i></span>
                                            <input class="input-group-field" type="text" placeholder="Enter password" name="password">
                                        </div>
                                        <div class="radio">
                                            <input id="check1" type="radio" name="check" value="check">
                                            <label class="customLabel" for="check1">Remember me</label>    /myprofile/
                                        </div> -->
                                        {% if request.user.username %}
                                        <div  class="res-circle">
                                            <div  class="circle-txt">{{request.user.username|slice:1}}</div>
                                           <h3 class="circle-txt-right"> {{request.user.username}}</h3>
                                          </div>
                                          <hr>
                                        <p class="text-center"> <a class="newaccount" href="/myprofile/">My Profile</a></p>
                                          <hr>
             
                                        <button class="blink submit" style="width: 225px; height: auto;" type="" name="subscribe"><a href="/logout">LogOut</a></button>
                                        {% else %}
                                        <button class="blink submit" style="width: 225px; height: auto;" type="" name="subscribe"><a href="/login_user/">Login Now</a></button>


                                        {% endif %}
                                        <!-- <input type="submit" name="submit" value="Login Now"> -->
                                    </form>
                                    <hr>
                                    <!-- <p class="text-center">LogOut here? <a class="newaccount" href="/logout">LogOut</a></p> -->

                                    <p class="text-center">New here? <a class="newaccount" href="/register_user">Create a new Account</a></p>
                                </div>
                            </li>



                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- End Top -->



         <!-- ad Section -->
 <div   class="googleAdv promoLine mobile_off">
    <!-- <span>{{base_details.about_logo}}</span><br>
    <span style="font-size: 15px; color: coral;">— Douglas Braun-Harvey, MFT CGP —</span> -->

        <a class="mobile_off" href="index.html"><img src="{{base_details.logo_url}}" alt="logo"></a>


    <!-- {{project_details}} -->

</div><!-- End ad Section -->

    
        <!--Navber style=" margin-bottom: 100px;" -->
        <section id="navBar"  class="margin_control" >
            <nav class="container" data-sticky-container>
                <div class="sticky topnav" data-sticky data-top-anchor="navBar" data-btm-anchor="footer-bottom:bottom" data-margin-top="0" data-margin-bottom="0" style="width: 100%; background: #fff;" data-sticky-on="large">
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="title-bar" data-responsive-toggle="beNav" data-hide-for="large">
                                <button class="menu-icon" type="button" data-toggle="offCanvas-responsive"></button>
                                <!-- <div class="title-bar-title"><img src="{% static 'images/logo-small.png' %}" alt="logo"></div> -->
                                <div class="title-bar-title div11_mobile small_logo"><img class="div11_mobile" src="{{base_details.logo_url}}" alt="logo"></div>

                            </div>

                            <div class="top-bar show-for-large" id="beNav" style="width: 100%;">
                                <div class="top-bar-left">
                                    <ul class="menu">
                                        <li class="menu-text">
                                            <!-- <a href="index.html"><img src="{% static 'images/logo.png' %}" alt="logo"></a> -->
                                            <!-- <a class="div11_desktop" href="index.html"><img src="{{base_details.logo_url}}" alt="logo"></a> -->
                                        </li>
                                    </ul>
                                </div>
                                <div class="top-bar-right search-btn">
                                    <ul class="menu">
                                        <li class="search">
                                            <i class="fa fa-search"></i>
                                        </li>
                                    </ul>
                                </div>

                                <div class="top-bar-right">
                                    <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
                                        <li class="has-submenu active">
                                            <a href="/"><i class="fa fa-home"></i>Home</a>
                                            <!-- <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                                <li><a href="index.html"><i class="fa fa-home"></i>Home page v1 </a></li>
                                                <li><a href="home-v2.html"><i class="fa fa-home"></i>Home page v2</a></li>
                                                <li><a href="home-v3.html"><i class="fa fa-home"></i>Home page v3</a></li>
                                                <li><a href="home-v4.html"><i class="fa fa-home"></i>Home page v4</a></li>
                                                <li><a href="home-v5.html"><i class="fa fa-home"></i>Home page v5</a></li>
                                                <li><a href="home-v6.html"><i class="fa fa-home"></i>Home page v6</a></li>
                                                <li><a href="home-v7.html"><i class="fa fa-home"></i>Home page v7</a></li>
                                                <li><a href="home-v8.html"><i class="fa fa-home"></i>Home page v8</a></li>
                                                <li><a href="home-v9.html"><i class="fa fa-home"></i>Home page v9</a></li>
                                                <li><a href="home-v10.html"><i class="fa fa-home"></i>Home page v10</a></li>
                                            </ul> -->
                                        </li>
                                        <!-- <li class="has-submenu" data-dropdown-menu="example1">
                                            <a href="#"><i class="fa fa-film"></i>Videos</a>
                                            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                                <li><a href="single-video-v1.html"><i class="fa fa-film"></i>single video v1</a></li>
                                                <li><a href="single-video-v2.html"><i class="fa fa-film"></i>single video v2</a></li>
                                                <li><a href="single-video-v3.html"><i class="fa fa-film"></i>single video v3</a></li>
                                                <li><a href="submit-post.html"><i class="fa fa-film"></i>submit post</a></li>
                                            </ul>
                                        </li> -->


                                        <!-- <li><a href="/categories"><i class="fa fa-th"></i>category</a></li> -->
                                        <li>
                                            <a href="#"><i class="fa fa-th"></i>category</a>
                                            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up"> 
                                                {% for i in cat %}
                                                <li><a href="{% url 'all_view' i.slug %}"><i class="fa fa-th"></i>{{i.category_name}}</a></li>
                                                {% endfor %}
                                               
                                              
                                            </ul>
                                        </li>








                                        <li>
                                            <a href="/blog"><i class="fa fa-edit"></i>blog</a>
                                            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                                <!-- <li><a href="blog-single-post.html"><i class="fa fa-edit"></i>blog single post</a></li> -->
                                            </ul>
                                        </li>



                                        <li>
                                            <a href="#"><i class="fa fa-magic"></i>features</a>
                                            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                                
                                                
                                                <li><a href="/myprofile/"><i class="fa fa-magic"></i>MY Profile</a></li>
                                                <li><a href="/login_user"><i class="fa fa-magic"></i>login</a></li>
                                                <li><a href="/register_user"><i class="fa fa-magic"></i>Register</a></li>
                                                <li><a href="/forgot_password"><i class="fa fa-magic"></i>Forgot Password</a></li>
                                                <li><a href="/logout"><i class="fa fa-magic"></i>logout</a></li>



                                                <!-- <li><a href="404.html"><i class="fa fa-magic"></i>404 Page</a></li>
                                                <li><a href="/archives"><i class="fa fa-magic"></i>Archives</a></li>
                                                <li><a href="/login_user"><i class="fa fa-magic"></i>login</a></li>
                                                <li><a href="/forgot_password"><i class="fa fa-magic"></i>Forgot Password</a></li>
                                                <li><a href="/register_user"><i class="fa fa-magic"></i>Register</a></li> -->


                                                <!-- <li>
                                                    <a href="#"><i class="fa fa-magic"></i>profile</a>
                                                    <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                                        <li><a href="profile-page-v1.html"><i class="fa fa-magic"></i>profile v1</a></li>
                                                        <li><a href="profile-page-v2.html"><i class="fa fa-magic"></i>profile v2</a></li>
                                                        <li><a href="profile-about-me.html"><i class="fa fa-magic"></i>Profile About Me</a></li>
                                                        <li><a href="profile-comments.html"><i class="fa fa-magic"></i>profile comments</a></li>
                                                        <li><a href="profile-favorite.html"><i class="fa fa-magic"></i>profile favorites</a></li>
                                                        <li><a href="profile-followers.html"><i class="fa fa-magic"></i>profile followers</a></li>
                                                        <li><a href="profile-settings.html"><i class="fa fa-magic"></i>profile settings</a></li>
                                                    </ul>
                                                </li> -->


                                                <!-- <li><a href="profile-video.html"><i class="fa fa-magic"></i>Author Page</a></li>
                                                <li><a href="search-results.html"><i class="fa fa-magic"></i>search results</a></li>
                                                <li><a href="terms-condition.html"><i class="fa fa-magic"></i>Terms &amp; Condition</a></li> -->
                                           
                                           
                                            </ul>
                                        </li>



                                        <!-- <li><a href="/about_us"><i class="fa fa-user"></i>about</a></li> -->

                                        <li >
                                            <a href="#"><i class="fa fa-user"></i>about</a>
                                            <ul class="submenu menu vertical" data-submenu data-animate="slide-in-down slide-out-up">
                                                <li><a href="/about_us"><i class="fa fa-user"></i>about us</a></li>
                                                <li><a href="/online_course"><i class="fa fa-user"></i>online courses</a></li>
                                
                                                <!-- <li><a href="single-video-v3.html"><i class="fa fa-film"></i>single video v3</a></li>
                                                <li><a href="submit-post.html"><i class="fa fa-film"></i>submit post</a></li> -->
                                            
                                            
                                            </ul>
                                        </li>



                                        <li><a href="/contact_us"><i class="fa fa-envelope"></i>contact</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="search-bar" class="clearfix search-bar-light">
                        <form action="/search" method="GET">
                        
                            <div class="search-input float-left">
                                <input type="search" name="search" id="searchid" placeholder="Seach Here your video">
                            </div>
                            <div class="search-btn float-right text-right">
                                <button class="button" name="search" onclick="updateurl()" type="submit">search video</button>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </section>
    </header><!-- End Header -->

    <!-- <script>
         var val = 55;
        function updateurl()  {

            var csrftoken = getCookie('csrftoken');                                        
            let valueser = document.getElementById("searchid").value;
            document.getElementById("prghph").innerHTML = valueser;


            }


            var csrftoken = getCookie('csrftoken');                                        
            let valueser = document.getElementById("searchid").value;
            document.getElementById("prghph").innerHTML = valueser;
    </script>
       
             -->

 <!-- ad Section -->
 <!-- <div class="googleAdv promoLine div-1 ">
   
    <a href="#"><img src="{{base_details.about_logo}}" alt="googel ads"></a>
</div> -->





{% block content %}


{% endblock %}






            <!-- footer -->
            <footer>
                <div class="row">
                    <div class="large-3 medium-6 columns">
                        <div class="widgetBox">
                            <div class="widgetTitle">
                                <h5>About SexSmartFilms </h5>
                            </div>
                            <div class="textwidget">
                                SexSmartFilms proudly offers many of the films used during a diverse range of sex therapy and counseling experiences.
                            </div>
                        </div>
                    </div>
                    <div class="large-3 medium-8 columns">
                        <div class="widgetBox">
                            <div class="widgetTitle">
                                <h5>Recent Videos</h5>
                            </div>
                            <div class="widgetContent">

                          {% for i in resent_upload %}      
                                <div class="media-object">
                                    <div class="media-object-section">
                                        <div class="recent-img">
                                            <img src= "{{i.poster_url}}" alt="recent" onerror="this.src='{{ base_details.default_poster_url }}';">
                                            <a href="{% url 'single_video' i.slug %}" class="hover-posts">
                                                <span><i class="fa fa-play"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="media-object-section">
                                        <div class="media-content">
                                            <h6><a href="{% url 'single_video' i.slug %}">{{i.title}}</a></h6>
                                            <p><span>{{i.modified_at.date}}</span></p>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}



                     

                               


                            </div>
                        </div>
                    </div>


                    <div class="large-3 medium-6 columns">
                        <div class="widgetBox">
                            <div class="widgetTitle">
                                <h5>Tags</h5>
                            </div>
                            <div class="tagcloud">

                                {% for i in cat %}
                                <a href="{% url 'all_view' i.slug %}">{{i.category_name }}</a>
                                {% endfor %}

                                <!-- <a href="#">3D Videos</a>
                                <a href="#">Videos</a>
                                <a href="#">HD</a>
                                <a href="#">Movies</a>
                                <a href="#">Sports</a>
                                <a href="#">3D</a>
                                <a href="#">Movies</a>
                                <a href="#">Animation</a>
                                <a href="#">HD</a>
                                <a href="#">Music</a>
                                <a href="#">Recreation</a> -->
                            </div>
                        </div>
                    </div>

                    
                    <div class="large-3 medium-6 columns">
                        <div class="widgetBox">
                            <div class="widgetTitle">
                                <h5>Subscribe Now</h5>
                            </div>
                            <div class="widgetContent">


                                <!-- <form class="new-added-form"  method="post" id="task-form">
                                    {% csrf_token %}
                                    <div class="input">
                                    <input  class="form-control"  type="email" placeholder="Enter Your email here" name="email" id="inputId" required>
                                </div>
                                    <button class="btn" onclick="getInputValue();" type="submit">Sign up Now</button>
                                </form> -->


                                <form data-abide novalidate method="post">
                                    {% csrf_token %} 
                                    <p>Subscribe to get exclusive videos,weekly newsletter</p>
                                    <div class="input">
                                        <input type="text" id="inputName" placeholder="Enter your full Name" required>
                                        <span class="form-error">
                                            Yo, you had better fill this out, it's required.
                                        </span>
                                    </div>
                                    <div class="input">
                                        <input type="email" id="inputId" placeholder="Enter your email addres"  name="email"  required>
                                        <!-- <span class="form-error">
                                          I'm required!
                                        </span> -->
                                    </div>
                                    <button class="button" onclick="getInputValue();" type="submit" value="Submit">Sign up Now</button>
                                </form>
                               
                                <div class="social-links">
                                    <h5>We are a Social Bunch</h5>
                                    <a class="secondary-button" href="https://www.facebook.com/SexSmartFilmscom-111457222213166/"><i class="fa fa-facebook"></i></a>
                                    <a class="secondary-button" href="https://twitter.com/SexSmartFilms"><i class="fa fa-twitter"></i></a>
                                    <a class="secondary-button" href="https://www.linkedin.com/company/sexsmartfilms"><i class="fa fa-linkedin"></i></a>
                                    <a class="secondary-button" href="https://instagram.com/schoen.mark?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>


                                    <!-- <a class="secondary-button" href="#"><i class="fa fa-google-plus"></i></a>                                   
                                    <a class="secondary-button" href="#"><i class="fa fa-vimeo"></i></a>
                                    <a class="secondary-button" href="#"><i class="fa fa-youtube"></i></a>
                                    <a class="secondary-button" href="#"><i class="fa fa-flickr"></i></a> -->



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" id="back-to-top" title="Back to top"><i class="fa fa-angle-double-up"></i></a>
            </footer><!-- footer -->



            <div id="footer-bottom">
                <div class="logo text-center" >
                    <img style="width: 200px;" src="{{base_details.logo_url}}" alt="footer logo">
                </div>
                <div class="btm-footer-text text-center">
                    <p>2022 © sexsmartfilms.com</p>
                </div>
            </div>




    </div><!--end off canvas wrapper inner-->
</div><!--end off canvas wrapper-->
<!-- script files -->


<!-- <script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/what-input/what-input.js"></script>
<script src="bower_components/foundation-sites/dist/foundation.js"></script>
<script src="js/jquery.showmore.src.js" type="text/javascript"></script>
<script src="js/app.js"></script>
<script src="layerslider/js/greensock.js" type="text/javascript"></script> -->


<!-- LayerSlider script files -->

<!-- <script src="layerslider/js/layerslider.transitions.js" type="text/javascript"></script>
<script src="layerslider/js/layerslider.kreaturamedia.jquery.js" type="text/javascript"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/inewsticker.js" type="text/javascript"></script>
<script src="js/jquery.kyco.easyshare.js" type="text/javascript"></script> -->


<!-- <script src="{% static 'SchoolDesign/js/jquery-3.3.1.min.js' %}"></script> -->

<!-- script files -->



<script>

    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');


	function getInputValue() {
	  
	  let inputVal = document.getElementById("inputId").value;
      let inputValName = document.getElementById("inputName").value;

	  var url = "{% url 'subs' %}"

		fetch(url, {
			method:'POST',
			headers:{
				'Content-type':'application/json',
				'X-CSRFToken':csrftoken,
			},
			body:JSON.stringify({"email":inputVal,"newsletter":"subs_type","fullname":inputValName})
		})
        document.getElementById('inputId').value = ''
	  
	  alert("Thank You ");
	  
	}
  </script>

<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script src="{% static 'bower_components/what-input/what-input.js' %}"></script>
<script src="{%static 'bower_components/foundation-sites/dist/foundation.js' %}"></script>
<script src="{% static 'js/jquery.showmore.src.js' %}" type="text/javascript"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'layerslider/js/greensock.js' %}" type="text/javascript"></script>
<script src="{% static 'layerslider/js/layerslider.transitions.js' %}" type="text/javascript"></script>
<script src="{% static 'layerslider/js/layerslider.kreaturamedia.jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/inewsticker.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.kyco.easyshare.js' %}" type="text/javascript"></script>


</body>
</html>