
      <style>
        
        .myblogflex {
    margin: 3px;

    float: left;
    display: flex;

  }

  .flex-container {
    display: flex;
    border: 2px solid rebeccapurple;
    width: 340px;
    height: 150px;
    margin-right: 70px;

  }

  .flex-child {
    flex: 1;



  }

  .flex-child:first-child {
    margin-right: 20px;
  }

  .flex-container:hover {
    border: 1px solid blue;
  }



  @media screen and (max-width: 500px) {


    .myblogflex {
      margin: 3px;
       

     

    }
      
      
  }
         div.myGallery {
            margin: 3px;
            /* border: 2px solid orange; */
            float: left;
            width: 350px;
         }
         div.myGallery:hover {
            /* border: 1px solid blue; */
         }
         div.myGallery img {
            width: 100%;
            height: auto;
         }
         div.desc {
            padding: 20px;
            text-align: center;
         }
      </style>


    
    
      <div class = "myGallery">
           <div class="flex-container">
              <div class="flex-child">
                <img src="https://s3.us-east-1.amazonaws.com/new-ssf/{{i.blog_image}}" alt="CSS Video Tutorial"
                    width="250" height="250">
               </div>
           <div class="flex-child">
         <h4>  {{i.title | safe |truncatewords:10 }}</h4>
         <a class="blog-post-btn" href="/blog/{{i.slug}}">read more</a>
        </div>
      </div>
  </div>
    
 
    
