{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- login by facebook  -->
{% load socialaccount %}
{% providers_media_js %}

<!-- end login facebook -->

<style>.info{
    list-style:None;
    background-color:#FF0000;
    color:white;
    box-shadow: 12px 12px 12px #e61c66;
    text-align: center;}

    .success{
    list-style:None;
    background-color:#7ba42e;
    color:white;
    box-shadow: 12px 12px 12px #e61c66;
    text-align: center;}
    </style>




            <!--breadcrumbs-->
            <section id="breadcrumb">
                <div class="row">
                    <div class="large-12 columns">
                        <nav aria-label="You are here:" role="navigation">
                            <ul class="breadcrumbs">
                                <li><i class="fa fa-home"></i><a href="#">Home</a></li>
                                <li><a href="#">profile</a></li>
                                <li>
                                    <span class="show-for-sr">Current: </span> Edit 
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </section><!--end breadcrumbs-->

            <!-- profile top section -->
            <!-- profile top section -->
<section class="topProfile">
    <div class="main-text text-center">
        <div class="row">
            <div class="large-12 columns">
                <h2>“The Netflix of Sex Education”</h2>
                <p>— Douglas Braun-Harvey, MFT CGP —</p>
            </div>
        </div>
    </div>
    <div class="profile-stats">
        <div class="row secBg">
            <div class="large-12 columns">
                <div class="profile-author-img">
                    {% if user.image %}
                    <img src="{{user.image.url}}" alt="profile author img" onerror="this.src='{{ base_details.default_poster_url }}';">
                     {% endif %}
                </div>
                <div class="profile-subscribe">
                    <span><i class="fa fa-users"></i>6</span>
                    <button type="submit" name="subscribe">subscribe</button>
                </div>
                <div class="profile-share">
                    <div class="easy-share" data-easyshare data-easyshare-http data-easyshare-url="{{request.build_absolute_uri}}">
                        <!-- Facebook -->
                        <button data-easyshare-button="facebook">
                            <span class="fa fa-facebook"></span>
                            <span>Share</span>
                        </button>
                        <span data-easyshare-button-count="facebook">0</span>

                        <!-- Twitter -->
                        <button data-easyshare-button="twitter" data-easyshare-tweet-text="">
                            <span class="fa fa-twitter"></span>
                            <span>Tweet</span>
                        </button>
                        <span data-easyshare-button-count="twitter">0</span>

                        <!-- Google+ -->
                        <button data-easyshare-button="google">
                            <span class="fa fa-google-plus"></span>
                            <span>+1</span>
                        </button>
                        <span data-easyshare-button-count="google">0</span>

                        <div data-easyshare-loader>Loading...</div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="profile-author-name float-left">
                        <h4>{{ request.user.username }}</h4>
                        <p>Join Date : <span>{{request.user.date_joined}}</span></p>
                    </div>
                    <div class="profile-author-stats float-right">
                        <ul class="menu">
                            <li>
                                <div class="icon float-left">
                                    <i class="fa fa-video-camera"></i>
                                </div>
                                <div class="li-text float-left">
                                    <p class="number-text">{{total}}</p>
                                    <span>Videos</span>
                                </div>
                            </li>
                            <li style="display: none;">
                                <div class="icon float-left">
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="li-text float-left">
                                    <p class="number-text">{{favtrate}}</p>
                                    <span>favorites</span>
                                </div>
                            </li>
                            <li style="display: none;">
                                <div class="icon float-left">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="li-text float-left">
                                    <p class="number-text">{{followers}}</p>
                                    <span>followers</span>
                                </div>
                            </li>
                            <li>
                                <div class="icon float-left">
                                    <i class="fa fa-comments-o"></i>
                                </div>
                                <div class="li-text float-left">
                                    <p class="number-text">{{comments}}</p>
                                    <span>comments</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End profile top section -->



            <div class="row">
                <!-- left sidebar -->
              
              
              
                <div class="large-4 columns">
                    <aside class="secBg sidebar">
                        <div class="row">
                            <!-- profile overview -->
                            <div class="large-12 columns">
                                <div class="widgetBox">
                                    <div class="widgetTitle">
                                        <h5>Profile Overview</h5>
                                    </div>
                                    <div class="widgetContent">
                                        <ul class="profile-overview">
                                            <li class="clearfix"><a href="/myprofile/"><i class="fa fa-user"></i>Profile</a></li>
                                            <li class="clearfix"><a href="/submit_post/"><i class="fa fa-video-camera"></i>Upload Videos <span class="float-right">{{total}}</span></a></li>
                                            <li class="clearfix"><a href="/process_payment/"><i class="fa fa-heart"></i>Subscription plan<span class="float-right">{{plan_status}}</span></a></li>
                                            <!-- <li class="clearfix"><a><i class="fa fa-comments-o"></i>comments<span class="float-right">{{comments}}</span></a></li> -->
                                            <!-- <li class="clearfix"><a href="profile-settings.html"><i class="fa fa-gears"></i>Profile Settings</a></li> -->
                                            <li class="clearfix"><a href="/logout"><i class="fa fa-sign-out"></i>Logout</a></li>
                                        </ul>
                                        <!-- <a href="submit-post.html" class="button"><i class="fa fa-plus-circle"></i>Submit Video</a> -->
                                    </div>
                                </div>
                            </div><!-- End profile overview -->
                        </div>




                        <div class="row">
                            <!-- profile overview -->
                            <div class="large-12 columns">
                                <div class="widgetBox">
                                    <div class="widgetTitle">
                                        <h5>Profile Picture</h5>
                                    </div>
                                    {% if user.image%}
                                    <img src="{{user.image.url}}" alt="{{user.name}}">
                                    {% endif %}

                                    <hr>
                                    
                                </div>
                            </div><!-- End profile overview -->
                        </div>
                    </aside>
                </div><!-- end sidebar -->
               

                
               
               
               
                <!-- right side content area -->
                <div class="large-8 columns profile-inner">
                    <!-- profile settings -->
                    <section class="submit-post">
                        <div class="row secBg">
                            <div class="large-12 columns">
                                <div class="heading">
                                    <i class="fa fa-pencil-square-o"></i>
                                    <h4>Edit Profile</h4>
                                </div>
                                <div class="row">
                                    <div class="large-12 columns">




                                        {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                            <li {% if message.tags %} class="{{message.tags}}"  {% endif %}>{{message}}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}



                                        <!-- <form data-abide novalidate method="POST"> -->
                            <form data-abide novalidate enctype="multipart/form-data" method="POST" >
                                            {% csrf_token %}


                                            <div data-abide-error class="alert callout" style="display: none;">
                                                <p><i class="fa fa-exclamation-triangle"></i>
                                                    There are some errors in your form.</p>
                                            </div>
                                           
                                            <div class="row">
                                                <div class="large-12 columns">
                                                    <label>User Name                                                       
                                                         <input type="text" value="{{user.user}}" placeholder="Enter you video title..." required name="username" required>
                                                        <span class="form-error">
                                                            Yo, you had better fill this out, it's required.
                                                        </span>
                                                    </label>
                                                </div>

                                      
                                                <div class="large-12 columns">
                                                    <label>Name
                                                        <input type="text"  value="{{user.name}}" placeholder="Enter you video title..." required name="name" required>
                                                        <span class="form-error">
                                                            Yo, you had better fill this out, it's required.
                                                        </span>
                                                    </label>
                                                </div>

                                                <div class="large-12 columns">
                                                    <label>Description
                                                        <input type="text"  value="{{user.desc}}" placeholder="Enter you video title..." required name="desc" required>
                                                        <span class="form-error">
                                                            Yo, you had better fill this out, it's required.
                                                        </span>
                                                    </label>
                                                </div>

                                                
                                                    <div class="large-12 columns">
                                                        <label>Email
                                                            <input type="email"  value="{{user.email}}" placeholder="Enter you video title..." required name="email" required>
                                                            <span class="form-error">
                                                                Yo, you had better fill this out, it's required.
                                                            </span>
                                                        </label>
                                                    </div>


                                                
                                                        <div class="large-12 columns">
                                                            <label>Password
                                                                <input type="text"  value="{{user.password}}" placeholder="Enter you video title..." required name="password" required>
                                                                <span class="form-error">
                                                                    Yo, you had better fill this out, it's required.
                                                                </span>
                                                            </label>
                                                        </div>


                                                      
                                                            <div class="large-12 columns">
                                                                <label>Re-Password
                                                                    <input type="text" placeholder="Enter you video title..."  value="{{user.password}}" required name="re_password" required>
                                                                    <span class="form-error">
                                                                        Yo, you had better fill this out, it's required.
                                                                    </span>
                                                                </label>
                                                            </div>


                                                 <div class="large-12 columns">
                                                    <div class="large-12 columns upload-video">
                                                        <label for="imgUpload" class="button">Upload Profile Image</label>
                                                        <input  onchange="javascript:updateList()" id="imgUpload" type="file" id="file" class="show-for-sr" name="image" >
                                                        <span id="fileList">No file chosen</span>
                                                    </div>

                                                    <p class="extraMargin"> Supported Video Formats: webm , png , jpg  </p>

                                                </div>
                                             



                                                <script type="application/javascript">
                                                   updateList = function() {
                                                    var input = document.getElementById('file');
                                                    var output = document.getElementById('fileList');

                                                    output.innerHTML ="input.file.selected" ;
                                                    // for (var i = 0; i < input.files.length; ++i) {
                                                    //     output.innerHTML +=  "hello";
                                                    // }

                                                    
                                                    
                                                    }


                                                    $('#button').click(function(){
                                                        $("input[type='file']").trigger('click');
                                                        })

                                                        $("input[type='file']").change(function(){
                                                        $('#val').text(this.value.replace(/C:\\fakepath\\/i, ''))
                                                        }) 
                                             </script>    


                                                <div class="large-12 columns">
                                                    <button class="button expanded" type="submit" name="submit">submit</button>
                                                </div>
                                            </div>
                                        </form>






                                    </div>
                                </div>
                            </div>
                        </div>
                    </section><!-- End profile settings -->
                </div><!-- end left side content area -->
            </div>

            <!-- footer -->
        
        </div><!--end off canvas content-->

        {% endblock %}
   