
    <style>
        .div1 {
            margin: 100px;
        }

        .first {
            width: 30%;
            display: inline-block;
            background-color: rgb(224, 233, 224);
            margin: 10px;
          text-align: center;
        }

        .second {
            width: 30%;
            display: inline-block;
            background-color: rgb(224, 233, 224);
            margin: 10px;
            text-align: center;
        }

        .third {
            width: 30%;
            
            display: inline-block;
            background-color: rgb(224, 233, 224);
            margin: 10px;
            text-align: center;
        }

        @media screen and (max-width: 500px) {

            .first,
            .second,
            .third {
                width: 100%;
               
            }

            .sectionscc{
                margin: 0px !important;

            }
        }
    </style>


    <div class="first">
        <div class="thumbnail clearfix">
            <h2 class="category"><a href="/videos/Education/">Education</a></h2>
            <figure><img src="http://sexsmartfilms.com/graphics/graphics_main/home_educational2.jpg" alt="education"><em
                    class="sp1"></em><em class="sp2"></em><em class="sp3"></em></figure>
            <div class="caption">
                <h5>SexSmartFilms blazes a new modern path through the complex diversity of modern sex education.

                    &hellip; We welcome you.</h5>
                    <h5> <a href="/videos/Education/" class="btn btn-ssf btn-s">more</a></h5>
                    
                   
                
            </div>
        </div>
    </div>
    <div class="second">
        <div class="thumbnail clearfix">
            <h2 class="category"><a href="/videos/Research/">Research</a></h2>
            <figure><img src="http://sexsmartfilms.com/graphics/graphics_main/home_clinical.jpg" alt="research"><em
                    class="sp1"></em><em class="sp2"></em><em class="sp3"></em></figure>
            <div class="caption">
                <h5>SexSmartFilms proudly serves as a repository for some of the world&rsquo;s most influential films on
                    human sexuality.</h5>
                <h5><a href="/videos/Research/" class="btn btn-ssf btn-s">more</a></h5>
            </div>
        </div>
    </div>
    <div class="third">
        <div class="thumbnail clearfix">
            <h2 class="category"><a href="/videos/Therapy/">Therapy</a></h2>
            <figure><img src="http://sexsmartfilms.com/graphics/graphics_main/home_commercial.jpg" alt="therapy"><em
                    class="sp1"></em><em class="sp2"></em><em class="sp3"></em></figure>
            <div class="caption">
                <h5>The sexual and gender diversity of our library has made us the video tool box for leading therapists
                    and their clients.</h5>
               <h5> <a href="/videos/Therapy/" class="btn btn-ssf btn-s">more</a></h5>
            </div>
        </div>
    </div>

