
<!DOCTYPE html>
<html lang="en">
<head>
<title>SexSmart Films | Sex Education Video Archive | SexSmart</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/graphics/graphics_main/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/graphics/graphics_main/favicon.ico" type="image/x-icon" />
<meta name="dcterms.title" content="SexSmartFilms offers the most inclusive resource for the entire range of sex education and therapy." />
<meta name="description" content="Sex Smart Films is an online sex education and therapy resource, consisting of over 600 international videos covering all aspects of human sexuality.">
<meta name="keywords" content="SexSmart, sex education, human sexualiy, sexual identy, sex therapy, Mark Schoen">
<meta name="author" content="Sex Smart Films">
<meta name="dcterms.rights" content="(c) Copyright 2008-present SexSmartFilms. All Rights Reserved." />
<link rel="stylesheet" href="http://sexsmartfilms.com/_css/bootstrap.css" >
<link rel="stylesheet" href="http://sexsmartfilms.com/_css/ssfPlayer.css" media="screen, projection">
<link rel="stylesheet" href="http://sexsmartfilms.com/_css/ssf_main.css?12345">
<link rel="stylesheet" href="http://sexsmartfilms.com/_css/font-awesome.css">
<link rel="stylesheet" href="http://sexsmartfilms.com/_css/search.css">
<link rel="stylesheet" href="http://sexsmartfilms.com/_css/jquery.jgrowl.css">
<script src="http://sexsmartfilms.com/js/jquery.js"></script>
<script src="http://sexsmartfilms.com/js/jquery-migrate-1.2.1.js"></script>
<script src="http://sexsmartfilms.com/js/superfish.js"></script>
<script src="http://sexsmartfilms.com/js/jquery.easing.1.3.js"></script>
<script src="http://sexsmartfilms.com/js/jquery.mobilemenu.js"></script>
<script src="http://sexsmartfilms.com/js/jquery.ui.totop.js"></script>
<script src="http://sexsmartfilms.com/js/jquery.equalheights.js"></script>
<script src="http://sexsmartfilms.com/js/sForm.js"></script>
<script src="http://sexsmartfilms.com/js/rightclick.js"></script>
<script src="http://sexsmartfilms.com/js/modernizr-custom.js"></script>
<script src="http://sexsmartfilms.com/js/izilla.gup.js"></script>
<script src="http://sexsmartfilms.com/js/layout-engine.js"></script>
<script src="http://sexsmartfilms.com/js/cssua.min.js"></script>
<script src="http://sexsmartfilms.com/js/new/jquery.jgrowl.min.js"></script>
<script type="text/javascript" src="http://sexsmartfilms.com/js/jquery.responsiveTabs.js"></script>

<!--<script src="/js/video.js" charset="utf-8"></script>
<script>
  videojs.options.flash.swf = "/video/video-js.swf"
</script>-->

<!--[if lt IE 9]>
<div style='text-align:center'><a href="https://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="https://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div>
<link rel="stylesheet" href="assets/tm/css/tm_docs.css" type="text/css" media="screen">
<script src="assets/assets/js/html5shiv.js"></script>
<script src="assets/assets/js/respond.min.js"></script>
<![endif]-->
</head><body>
<!--header-->
<header><h1 style="display: none;">best sex education therapy video web site</h1>
		<div class="container">
				<h2 class="navbar-brand navbar-brand_"><a href="https://sexsmartfilms.com/home/"><img src="/graphics/graphics_main/logo_lg.png" title="SexSmart Films Home" alt="Sex Smart Films"></a></h2>
				<nav class="navbar navbar-default navbar-static-top tm_navbar" role="navigation">
<h3 class="headerLogin">  <a id="headLogin" href="https://sexsmartfilms.com/login/">Log In</a>  </h3>
						<ul class="nav sf-menu clearfix">
								<!--<li class=""><a href="https://sexsmartfilms.com/home/">Home</a></li>-->
								<li class=" sub-menu"><span class="submenu-title">Video Library &#9657;</span>
								<ul class="submenu">
										<li><a href="https://sexsmartfilms.com/premium/">Areas of Interest</a></li>
										<li><a href="https://sexsmartfilms.com/sitemap/">Site Map Links</a></li>
								</ul>
								</li>
								<li class="buyPlan active"><a href="https://sexsmartfilms.com/pricing/">Subscriptions</a> </li>
								<li class=" sub-menu">
								<span class="submenu-title">About &#9657;</span>
								<ul class="submenu">
										<li><a href="https://sexsmartfilms.com/details/">About</a></li>
										<li><a href="https://sexsmartfilms.com/news_beyondPuritanical/">Online Course</a></li>
										<li><a href="https://sexsmartfilms.com/company/">company</a></li>
										<li><a href="https://sexsmartfilms.com/community/">community</a></li>
										<li><a href="https://sexsmartfilms.com/news/">news</a></li>
								</ul>
								</li>
								<li class=""><a href="https://sexsmartfilms.com/upload/">Upload</a></li>
						</ul>
				</nav>
		</div>
</header><div class="global">
			<div class="container">
						<div class="row">
									<section class="clearfix blogBox">
												<article class="col-lg-8 col-md-6 col-sm-12">
															<div class="contentbox">

																		<!--<h2>Subscription Plans</h2><h4 class="ppv">(Pay per view options are also available. Click on individual Premiere Video titles)</h4>-->
																		<div class="pricing">
																					
																					<form action="https://sexsmartfilms.com/orderinfo/" method="POST">
                                            <h2 style="display:inline-block;">1. Subscription Plans</h2>
																						<img style="margin: -25px 0 0 20px;" src="/graphics/graphics_main/credit_cards.jpg" height="55">
																						<!--<h4 class="ppv">(Pay-per-view options are also available. Click on individual  Video titles)</h4>-->
																						<!--<h3 class="priceCat">Buy Subscription Plan</h3>-->
                                            
                                            <!--<div class="login2buy">  
																							<h4>Online security requires that customers be registered and logged in to purchase our products.
                                              	You may <a href="#" onClick="return showRegister();">register here</a>. Or if you already have a username and password, <a href="#" onClick="return showLogin();">click here</a> to log in, and we will return you to this page.</h4>
																						</div>-->
																								<table class="pricing" cellspacing="0">
																											<tr>
																														<th class="buyDollars">Price</th>
																														<th>Details</th>
																														<th>&nbsp;</th>
																											</tr>
																											<tr>
																														<td class="buyDollars">$199.99</td>
																														<td>	4 - month subscription (up to 50 users) Unlimited Views</td>
																														<td class="colBtnRadio"><input type="radio" name="payment_period_id" value="108"  ></td>
																											</tr>
																											<tr>
																														<td class="buyDollars">$99.99</td>
																														<td>4 - month subscription (up to 20 users) Unlimited Views</td>
																														<td class="colBtnRadio"><input type="radio" name="payment_period_id" value="103"  ></td>
																											</tr>
																											<tr>
																														<td class="buyDollars">$399.99</td>
																														<td>12 - month subscription (Unlimited users in one institution) Unlimited Views</td>
																														<td class="colBtnRadio"><input type="radio" name="payment_period_id" value="101"  ></td>
																											</tr>
																											<tr>
																														<td class="buyDollars">$24.99</td>
																														<td>3 - month subscription (single user) Unlimited Views</td>
																														<td class="colBtnRadio"><input type="radio" name="payment_period_id" value="92"  ></td>
																											</tr>
																											<tr>
																														<td class="buyDollars">$59.99</td>
																														<td>12 - month subscription (single user) Unlimited Views</td>
																														<td class="colBtnRadio"><input type="radio" name="payment_period_id" value="93"  ></td>
																											</tr>
																											<tr>
																														<td class="buyDollars">$39.99</td>
																														<td>1 - month subscription (Up to 5 Users in 1 institution) Unlimited Views</td>
																														<td class="colBtnRadio"><input type="radio" name="payment_period_id" value="96"  ></td>
																											</tr>
																											<tr>
																														<td class="buyDollars">$199.99</td>
																														<td>12 - month subscription (Up to 5 users in 1 institution) Unlimited Views</td>
																														<td class="colBtnRadio"><input type="radio" name="payment_period_id" value="90"  ></td>
																											</tr>
																											<tr>
																														<td class="buyDollars">$9.99</td>
																														<td>1 - month subscription (Single User) Unlimited Views</td>
																														<td class="colBtnRadio"><input type="radio" name="payment_period_id" value="94"  ></td>
																											</tr>
																								</table>
																								<input type="submit" class="btn btn-ssf orderbutton" name="sbmButton" value="Buy Now" />
																								
																								<div style="clear:both; overflow:hidden; margin-bottom:50px;"></div>
																								<div class="vodPurchase">
																									<h2>2. Pay Per View</h2>
																									<h4>For Pay-Per-View viewing, click on individual video titles. Prices range from $0.99 to $1.99 per title.</h4>
																								</div>
																								
																								<div style="clear:both; overflow:hidden; margin-bottom:40px;"></div>
																								<h2>3. &ldquo;TRANS&rdquo; DVD Purchase</h2>
                                                <div class="login2buy">
                                                  <h4><img src="/graphics/graphics_main/trans_dvd.png" class="transdvd" title="TRANS The Movie" alt="trans the movie dvd"><!--All DVD purchases come with a free one-month subscription to entire SexSmartFilms online library. Our online security requires that customers  be registered and logged in to purchase, and you can use the username and password you create to take advantage of your free subscription.</h4>
                     <p>If you&rsquo;d like more information about this very special movie produced by the founder of SexSmartFilms, you may also find that <a href="https://www.transthemovie.com" target="_blank">online</a>.</p>-->
                                                </div>
																								<table class="pricing" cellspacing="0">
                                                      <tr>
																														<th class="buyDollars">Price</th>
																														<th>Details</th>
																														<th>&nbsp;</th>
																											</tr>
																											<tr>
																														<td class="buyDollars">$29.99</td>
																														<td>TRANS DVD (within the USA)</td>
																														<td class="colBtnRadio"><input type="radio" name="payment_period_id" value="104" ></td>
																											</tr>
																								</table>
																								<input type="submit" class="btn btn-ssf orderbutton" name="sbmButton" value="Buy Now" />
																					</form>
																					
																					<div style="clear:both; overflow:hidden; margin-bottom:50px;"></div>

																					<div class="coupon">
                                            <form action="https://sexsmartfilms.com/pricing/" method="POST">
                                                  <input type="hidden" name="coupon_action" value="1" />
                                                  <p>Discount Code</p>
                                                  <input type="text" name="coupon_code" value="" />
                                                  <input type="image" src="/graphics/graphics_main/btn_submit.gif" name="sbmButton" value="Pay" align="absmiddle" />
                                            </form>
																					<!-- coupon ends --></div>
																		</div>
																		<div class="questions">
																		<h2>Questions?</h2>
																		<p>If you have any questions at all before you join our group, please feel free to use the <a href="https://sexsmartfilms.com/contact.php/#contactDirect">Contact Form</a> or send us an email at <script type="text/javascript">
															emailE=('info@' + 'sexsmartfilms.com')
															subjectE=('?subject=SSF'	+ ' Pricing ' + 'Question')
															document.write(
																'<A href="mailto:' + emailE + subjectE + '">'
																+ emailE + '</a>'
															)
														</script>
																		<noscript>
																		<em>Email address protected by JavaScript. You will need to enable our (perfectly safe) JavaScript to contact us.</em>
																		</noscript>. We believe in dialogue.</p>
																		<!-- questions ends --></div>
																		<!-- contentbox ends --></div>
												</article>
												<article class="col-lg-4 col-md-6 col-sm-12 list5Box">

<div id="search">
			<form id="searchForm" onSubmit="return testSearch()" name="searchForm" method="get" action="/search/">
						<input id="searchbox" class="text" type="text" size="10" onBlur="if (this.value=='') this.value='Search'" onClick="if (this.value=='Search') this.value=''" value="Search" tabindex="1" name="search_id" />
						<input id="search_img" type="submit" value="Go" />
			</form>
			<script type="text/javascript">

          function testSearch() {
            var q = $("#searchbox").val();
            if ((q == "") || (q == "Search"))  {
              $.jGrowl("You must enter something to search for...", { life: 2500, header: 'Error:', theme: 'error' });
              $("#searchbox").focus();
            }
            else {
              window.location.href = '/search/'+encodeURI(q)
            }
            return false;
          }


    </script>
</div><div id="tabs">
			<ul class="categoriesMain">
																		<li><a title="" href="#tab-0"></a></a></li>
																								<li><a title="education" href="#tab-1">education</a></a></li>
																								<li><a title="research" href="#tab-2">research</a></a></li>
																								<li><a title="therapy" href="#tab-3">therapy</a></a></li>
															</ul>
									<div class="categories" id="tab-0">
						<ul id="">
															</ul>
			</div>
												<div class="categories" id="tab-1">
						<ul id="education">
																		<li><a href="/premium/category/43/Advertising/Sexuality"><i class="fa fa-arrow-circle-o-right"></i>Advertising/Sexuality</a></li>
																		<li><a href="/premium/category/7/Aging"><i class="fa fa-arrow-circle-o-right"></i>Aging</a></li>
																		<li><a href="/premium/category/55/Arousal"><i class="fa fa-arrow-circle-o-right"></i>Arousal</a></li>
																		<li><a href="/premium/category/57/Birth-Control"><i class="fa fa-arrow-circle-o-right"></i>Birth Control</a></li>
																		<li><a href="/premium/category/15/Bisexuality"><i class="fa fa-arrow-circle-o-right"></i>Bisexuality</a></li>
																		<li><a href="/premium/category/5/Children"><i class="fa fa-arrow-circle-o-right"></i>Children</a></li>
																		<li><a href="/premium/category/69/Consent"><i class="fa fa-arrow-circle-o-right"></i>Consent</a></li>
																		<li><a href="/premium/category/19/Disability"><i class="fa fa-arrow-circle-o-right"></i>Disability</a></li>
																		<li><a href="/premium/category/37/Dr-Ruth-Westheimer"><i class="fa fa-arrow-circle-o-right"></i>Dr Ruth Westheimer</a></li>
																		<li><a href="/premium/category/13/Erotica"><i class="fa fa-arrow-circle-o-right"></i>Erotica</a></li>
																		<li><a href="/premium/category/3/Female-Sexuality"><i class="fa fa-arrow-circle-o-right"></i>Female Sexuality</a></li>
																		<li><a href="/premium/category/32/Gay-and-Lesbian-Issues"><i class="fa fa-arrow-circle-o-right"></i>Gay and Lesbian Issues</a></li>
																		<li><a href="/premium/category/4/Gender-Identity"><i class="fa fa-arrow-circle-o-right"></i>Gender Identity</a></li>
																		<li><a href="/premium/category/18/Heterosexuality"><i class="fa fa-arrow-circle-o-right"></i>Heterosexuality</a></li>
																		<li><a href="/premium/category/59/Historical-Sex-Education"><i class="fa fa-arrow-circle-o-right"></i>Historical Sex Education</a></li>
																		<li><a href="/premium/category/53/HIV/STI"><i class="fa fa-arrow-circle-o-right"></i>HIV/STI</a></li>
																		<li><a href="/premium/category/75/Kink"><i class="fa fa-arrow-circle-o-right"></i>Kink</a></li>
																		<li><a href="/premium/category/72/Kinsey"><i class="fa fa-arrow-circle-o-right"></i>Kinsey</a></li>
																		<li><a href="/premium/category/25/Male-Sexuality"><i class="fa fa-arrow-circle-o-right"></i>Male Sexuality</a></li>
																		<li><a href="/premium/category/10/Masturbation"><i class="fa fa-arrow-circle-o-right"></i>Masturbation</a></li>
																		<li><a href="/premium/category/24/Menstrual-Education"><i class="fa fa-arrow-circle-o-right"></i>Menstrual Education</a></li>
																		<li><a href="/premium/category/77/Pansexual"><i class="fa fa-arrow-circle-o-right"></i>Pansexual</a></li>
																		<li><a href="/premium/category/44/Planned-Parenthood"><i class="fa fa-arrow-circle-o-right"></i>Planned Parenthood</a></li>
																		<li><a href="/premium/category/78/Polyamory"><i class="fa fa-arrow-circle-o-right"></i>Polyamory</a></li>
																		<li><a href="/premium/category/12/Pregnancy"><i class="fa fa-arrow-circle-o-right"></i>Pregnancy</a></li>
																		<li><a href="/premium/category/70/Puberty"><i class="fa fa-arrow-circle-o-right"></i>Puberty</a></li>
																		<li><a href="/premium/category/54/Sex-Work"><i class="fa fa-arrow-circle-o-right"></i>Sex Work</a></li>
																		<li><a href="/premium/category/42/Sexual-Abuse-Prevention"><i class="fa fa-arrow-circle-o-right"></i>Sexual Abuse Prevention</a></li>
																		<li><a href="/premium/category/22/Sexual-Power-Play-"><i class="fa fa-arrow-circle-o-right"></i>Sexual Power Play </a></li>
																		<li><a href="/premium/category/63/Sexuality-and-Religion"><i class="fa fa-arrow-circle-o-right"></i>Sexuality and Religion</a></li>
																		<li><a href="/premium/category/26/Teens"><i class="fa fa-arrow-circle-o-right"></i>Teens</a></li>
																		<li><a href="/premium/category/74/Tickle.Life-Podcast"><i class="fa fa-arrow-circle-o-right"></i>Tickle.Life Podcast</a></li>
																		<li><a href="/premium/category/33/Trans-Health"><i class="fa fa-arrow-circle-o-right"></i>Trans Health</a></li>
																		<li><a href="/premium/category/83/User-Upload"><i class="fa fa-arrow-circle-o-right"></i>User Upload</a></li>
															</ul>
			</div>
												<div class="categories" id="tab-2">
						<ul id="research">
																		<li><a href="/premium/category/16/Anatomy/Physiology"><i class="fa fa-arrow-circle-o-right"></i>Anatomy/Physiology</a></li>
																		<li><a href="/premium/category/41/Circumcision"><i class="fa fa-arrow-circle-o-right"></i>Circumcision</a></li>
																		<li><a href="/premium/category/23/G-Spot"><i class="fa fa-arrow-circle-o-right"></i>G Spot</a></li>
																		<li><a href="/premium/category/34/Historical-Films"><i class="fa fa-arrow-circle-o-right"></i>Historical Films</a></li>
																		<li><a href="/premium/category/35/HIV-Prevention"><i class="fa fa-arrow-circle-o-right"></i>HIV Prevention</a></li>
																		<li><a href="/premium/category/40/Religion-&-Sexuality-"><i class="fa fa-arrow-circle-o-right"></i>Religion & Sexuality </a></li>
																		<li><a href="/premium/category/9/Sex-Research"><i class="fa fa-arrow-circle-o-right"></i>Sex Research</a></li>
																		<li><a href="/premium/category/64/Sex-Researchers"><i class="fa fa-arrow-circle-o-right"></i>Sex Researchers</a></li>
																		<li><a href="/premium/category/11/Sex-Roles"><i class="fa fa-arrow-circle-o-right"></i>Sex Roles</a></li>
																		<li><a href="/premium/category/6/Sexual-Orientation"><i class="fa fa-arrow-circle-o-right"></i>Sexual Orientation</a></li>
																		<li><a href="/premium/category/39/Stag-Films"><i class="fa fa-arrow-circle-o-right"></i>Stag Films</a></li>
																		<li><a href="/premium/category/17/STIs"><i class="fa fa-arrow-circle-o-right"></i>STIs</a></li>
															</ul>
			</div>
												<div class="categories" id="tab-3">
						<ul id="therapy">
																		<li><a href="/premium/category/67/Disability"><i class="fa fa-arrow-circle-o-right"></i>Disability</a></li>
																		<li><a href="/premium/category/29/Gay"><i class="fa fa-arrow-circle-o-right"></i>Gay</a></li>
																		<li><a href="/premium/category/50/Gender"><i class="fa fa-arrow-circle-o-right"></i>Gender</a></li>
																		<li><a href="/premium/category/31/Heterosexual"><i class="fa fa-arrow-circle-o-right"></i>Heterosexual</a></li>
																		<li><a href="/premium/category/30/Lesbian"><i class="fa fa-arrow-circle-o-right"></i>Lesbian</a></li>
																		<li><a href="/premium/category/79/Mind-Body-Therapy"><i class="fa fa-arrow-circle-o-right"></i>Mind Body Therapy</a></li>
															</ul>
			</div>
						 </div>

<script type="text/javascript">
$('#tabs').responsiveTabs({
    startCollapsed: 'accordion'
});
</script>
												</article>
									</section>
						</div>
			</div>
</div>
<footer>
			<div id="buyViewingPlan" class="">
			<a href="/pricing/">Buy Viewing Plan</a></div>
			<div class="container">
						<div class="row">
									<section class="col-lg-9 col-md-9 col-sm-9 pull-right infoBox">
												<div class="row">
															<article class="col-lg-4 col-md-4 col-sm-4 follow-link">
																		<p class="mail-link"><!--Email <em><script type="text/javascript">
															emailE=('info@' + 'sexsmartfilms.com')
															subjectE=('?subject=SSF'	+ ' Web ' + 'Contact')
															document.write(
																'<a href="mailto:' + emailE + subjectE + '">'
																+ emailE + '</a>'
															)
														</script>
																		<noscript>
																		<em>Email address protected by JavaScript. You will need to enable our (perfectly safe) JavaScript to contact us.</em>
																		</noscript></em> <br>-->
																					<em><a href="https://twitter.com/SexSmartFilms" target="_blank">Twitter</a> / <a href="https://www.facebook.com/pages/SexSmartFilmscom/111457222213166" target="_blank">Facebook</a></em> <br>
																					<!--<em><a href="https://risque.com/" target="_blank">developed by risque.com</a></em></p> --></article>
															<article class="-md-4 col-sm-4 follow-link">
																			<nav id="navFooter">
																					<ul>
																						<li><i class="fa fa-arrow-right"></i><a href="https://sexsmartfilms.com/contact/#contactDirect">Contact Us</a></li>
																						<li><i class="fa fa-arrow-right"></i><a href="https://sexsmartfilms.com/terms/">Terms &amp; Conditions</a></li>
																						<li><i class="fa fa-arrow-right"></i><a href="https://sexsmartfilms.com/privacy/">Privacy Policy</a></li>
																						<li><i class="fa fa-arrow-right"></i><a href="https://sexsmartfilms.com/sitemap/">Sitemap</a></li>
																						<li style="display: none;"><i class="fa fa-arrow-right"></i><a href="https://sexsmartfilms.com/help/">Help</a></li>
																					</ul>
																			</nav>
															</article>
															<article class="col-lg-4 col-md-4 col-sm-4">
                                    <div id="emailsuccess" class="hidden">We have received<br> your subscription request!</div>
																		<div id="newsletter" accept-charset="utf-8" >
																					<label class="email">
																								<input id="email" class="form-control" value="Signup for SSF Newsletter"/>
                                                <span id="emailerror" class="hidden">*Not a valid email address.</span> </label>
																					<div class="btns pull-right"><a id="emailSubmit">OK</a></div>
																		</div>
															</article>
												</div>
									</section>
									<article class="col-lg-3 col-md-3 col-sm-3 pull-left logoBox"> <a href="https://sexsmartfilms.com/home/"><img src="/graphics/graphics_main/logo_footer.png" alt="SexSmartFilms Logo"></a>
												<p><a href="https://sexsmartfilms.com/company/">SexSmartFilms</a> &bull; &copy; 2021 </p>
<!--
												<p class="address">914 T Street NW<br>Washington, DC 20001</p>
-->
												<p><span>Phone: </span>626-660-5823</p>
												<p class="mail-link">Email: <script type="text/javascript">
															emailE=('info@' + 'sexsmartfilms.com')
															subjectE=('?subject=SSF'	+ ' Web ' + 'Contact')
															document.write(
																'<a href="mailto:' + emailE + subjectE + '">'
																+ emailE + '</a>'
															)
														</script>
																		<noscript>
																		<em>Email address protected by JavaScript. You will need to enable our (perfectly safe) JavaScript to contact us.</em>
																		</noscript></p>
												
									</article>
						</div>
			</div>
</footer>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/tm-scripts.js"></script>
<script>

  if (typeof createCookie != 'function') {
    function createCookie(name,value,days) {
      if (days) {
        var date = new Date();
        date.setTime(date.getTime()+(days*24*60*60*1000));
        var expires = "; expires="+date.toGMTString();
      }
      else var expires = "";
      document.cookie = name+"="+value+expires+"; path=/";
    }
  }


  $('#emailSubmit').click(function() {
    var e = $('#email').val();
    var r = /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))$/i.test(e);
    if (!r) {
      if ($('#emailerror').hasClass('hidden')) { $('#emailerror').removeClass('hidden'); }
    }
    else {
      $.ajax({
        url : "/newscript/ajax.php",
        type : "POST",
        data : {action:"addnewsletter",email:e},
        dataType: 'json',
        success: function(res) {
          if (res.error == true) {
            if ($('#emailerror').hasClass('hidden')) { $('#emailerror').removeClass('hidden'); }
          }
          else {
            $('#newsletter').addClass('hidden');
            $('#emailsuccess').removeClass('hidden');
          }
        },
        error: function() {
          if ($('#emailerror').hasClass('hidden')) { $('#emailerror').removeClass('hidden'); }
        }
      });
    }
  }).css('cursor', 'pointer');

  if ($('#headLogin') != null ) {
    $('#headLogin').click(function() {

      createCookie("returnlink",$(location).attr('href'),1);

    });
  }
</script>


<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-5267564-1', 'auto');
  ga('send', 'pageview');
</script>

<script>
    var link = '/pricing/';
    function showRegister() {
      createCookie('returnlink', link, 1);
      window.location.href = '/register/';
      return false;
    }
    function showLogin() {
      createCookie('returnlink', link, 1);
      window.location.href = '/login/';
      return false;
    }
</script>

</body></html>